{% block head %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock %}

    <meta name="description" content="{% trans %}GustoCoffee est une société proposant des espaces collaboratifs, dits 'co-working'. {% endtrans %}">
    <meta name="KASAgency" content="{% trans %}KASAgency est une jeune agence web.{% endtrans %}">

    <link rel="icon" type="image/png" href="{{ asset('img/gc_favicon_16x16.ico')}}" />
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.theme.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('build/global.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script async>#}
        {#window.cookieconsent_options = {"theme":"dark-bottom",#}
            {#"message":"{{ "Ce site web utilise des cookies pour améliorer votre expérience de navigation. En poursuivant votre navigation, vous acceptez l'utilisation des cookies."|trans }}",#}
            {#"dismiss":"{{ "J'accepte!"|trans }}","learnMore":"{{ "En savoir plus"|trans }}"};#}
    {#</script>#}
    {{ cookie_consent_render() }}

    <!-- Facebook -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1693020454042033',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    //alert('{{ "Already connected, redirect to login page to create token."|trans }}');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108499849-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108499849-1');
    </script>
</head>

{% endblock %}
<body>
{% block body %}

    {% block navbar %}
    <div id="main" class="container-fluid">
        <div class="row ">

            <div class="body-wrap {% block firstImg %}{% endblock %}">
                 {% embed 'menu.html.twig' %}
                 {% endembed %}

                {% embed 'side-social-networks-.html.twig' %}
                {% endembed %}

                <div class="titleHome {% block paddingTitle %}{% endblock %}">
                    {% block titleHome %}{% endblock %}
                </div>
            </div>

        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block firstBlock %}
        {% endblock %}

        {% block secondBlock %}
        {% endblock %}

        {% block thirdBlock %}
        {% endblock %}
    </div>

   {% embed "footer.html.twig" %}
   {% endembed  %}


    {% endblock %}
    {% block script %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        {#<script src="{{ asset('js/jquery.onepage-scroll.min.js') }}"></script>#}
        <script async defer src="{{ asset('js/jquery-ui.min.js') }}"></script>
        {# TODO: Remove this useless thing <script src="{{ asset('js/jquery.form.min.js') }}" ></script>#}
        <script async defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <script async defer type="text/javascript" src="https://api.payplug.com/js/1.0/form.js"></script>

        <script async src="{{ asset('js/bootstrap.min.js') }}"></script>
        {#<script>#}
        {#$.datepicker.setDefaults( $.datepicker.regional[ "{{ app.request.getLocale() }}" ] );#}
        {#</script>#}

        <script async src="{{ asset('build/app.js') }}"></script>
        {#  Adding ajax script TODO: add specific on each page #}
        <script async src="{{ asset('build/ajax.js') }}"></script>

    {% endblock %}
</body>
</html>
