{% block head %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <meta property="og:site_name" content="GustoCoffee">
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}">
    <meta property="og:image:url" content="{{ app.request.getSchemeAndHttpHost() ~ asset('img/gc_transparent_resize.png') }}">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('img/gc_transparent_resize.png') }}">
    <meta property="og:title" content="{{ block('title') }}">

    <meta name="description" content="{% trans %}GustoCoffee est une société proposant des espaces collaboratifs, dits 'co-working'{% endtrans %}">
    <meta name="KASAgency" content="{% trans %}KASAgency est une jeune agence web{% endtrans %}">

    {#<link rel="icon" type="image/png" href="{{ asset('img/gc_favicon_16x16.ico') }}"/>#}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png')}}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff">
    {#<link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">#}
    {#<link href="{{ asset('css/jquery-ui.min.css')}}" rel="stylesheet">#}
    {#<link href="{{ asset('css/jquery-ui.theme.min.css')}}" rel="stylesheet">#}
    {#<link href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="print">

    <link href="{{ asset('build/global.css') }}" rel="stylesheet">

    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    {#<script async>#}
    {#window.cookieconsent_options = {"theme":"dark-bottom",#}
    {#"message":"{{ "Ce site web utilise des cookies pour améliorer votre expérience de navigation. En poursuivant votre navigation, vous acceptez l'utilisation des cookies."|trans }}",#}
    {#"dismiss":"{{ "J'accepte!"|trans }}","learnMore":"{{ "En savoir plus"|trans }}"};#}
    {#</script>#}

    <!-- Facebook -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1693020454042033',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    //alert('{{ "Already connected, redirect to login page to create token."|trans }}');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108499849-1"></script>
</head>

{% endblock %}
<body>
{% block body %}

    <div id="main" class="container-fluid">
        <div class="row ">

            <div class="body-wrap {% block firstImg %}{% endblock %}">
                {% embed 'menu.html.twig' %}
                {% endembed %}

                {% embed 'side-social-networks-.html.twig' %}
                {% endembed %}

                <div class="titleHome {% block paddingTitle %}{% endblock %}">
                    {% block titleHome %}{% endblock %}
                </div>
            </div>

        </div>

        {% block content %}
        {% endblock %}

        {% block firstBlock %}
        {% endblock %}

        {% block secondBlock %}
        {% endblock %}

        {% block thirdBlock %}
        {% endblock %}
    </div>

    {% embed "footer.html.twig" %}
    {% endembed  %}

{% endblock %}

{% block script %}
    {#<script src="{{ asset('js/jquery.min.js') }}"></script>#}
    {#<script src="{{ asset('js/jquery.onepage-scroll.min.js') }}"></script>#}
    {# TODO: Remove this useless thing <script src="{{ asset('js/jquery.form.min.js') }}" ></script>#}

    {#<script async src="{{ asset('js/bootstrap.min.js') }}"></script>#}
    {#<script>#}
    {#$.datepicker.setDefaults( $.datepicker.regional[ "{{ app.request.getLocale() }}" ] );#}
    {#</script>#}

    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>#}

    <script async src="{{ asset('build/app.js') }}"></script>

    {#  Adding ajax script TODO: add specific on each page #}
    <script src="{{ asset('build/ajax.js') }}"></script>
    {{ cookie_consent_render() }}

    {#<script async defer src="{{ asset('js/jquery-ui.min.js') }}"></script>#}
    {#<script async defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>#}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108499849-1');
    </script>
{% endblock %}

</body>
</html>
