<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
    {% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>GustoCoffee</title>

    <meta name="description" content="GustoCoffee est une société proposant des espaces collaboratifs, dits 'co-working'. ">
    <meta name="KASAgency" content="KASAgency est une jeune agence web.">

    <link rel="icon" type="image/png" href="{{ asset('img/gc_design.png')}}" />
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

</head>

    {% endblock %}

<body>

<div class="container-fluid">
    <div class="row topPage"
            {% block firstImg %}
                style='background-image: url({{ asset('img/background-home.jpg') }});'>
            {% endblock %}
        <div class="col-md-12">
                <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                            </button>
                            <div class="home"><a class="navbar-brand page-scroll" href="{{ path('gc_home_page') }}">
                                        <img alt="GustoCoffee" src="{{ asset('img/gc_design.png') }}" />
                                </a>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="hidden">
                                    <a href="#page-top"></a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="{{ path('gc_home_page') }}">Accueil</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="{{ path('gc_evenement_page') }}">Evénements</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="{{ path('gc_reservation_page') }}">Réservation</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#">Annonces</a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#">Contact</a>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default">
                                        Connexion
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="https://www.facebook.com/GustoCoffeeKASAgency/" target="_blank">
                        <img width="32" height="32" title="" alt="facebook" src="{{ asset('social/facebook.png') }}" />
                        <p>Facebook</p>
                    </a>
                </li>
                <li> <img width="32" height="32" title="" alt="twitter" src="{{ asset('social/twitter.png') }}" />
                    <p>Twitter</p>
                </li>
                <li> <img width="30" height="32" title="" alt="instagram" src="{{ asset('social/instagram.png') }}" />
                    <p>Instagram</p>
                </li>
            </ul>
        </div>
        <div>
            {% block firstTitle %}
            <h2 class="titleHome">Café CoWorking</h2>
            {% endblock %}
        </div>
        </div>
    <div class="clear"></div>
    {% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-8">
            <h2 class="titlePara">GustoCoffee</h2>
            <p class="textDescription">La société GustoCoffee est spécialisée dans la vente de produits autour du café, machine automatique, machine expresso, moulin à café, café en grains, café en dosettes, etc. Aujourd'hui, GustoCoffee propose un nouveau concept de "<strong>Coffee-Shop CoWorking"</strong>.<br>
            Ainsi, nous vous proposons un espace spécialement aménagé pour le travail individuel ou en groupe au sein de Paris, près de la Gare du Nord accessible via le RER B ou RER D.
            </p>
        </div>
        <div class="col-md-2">
            <iframe src="https://www.youtube.com/embed/F7va26Wy5bw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="clear"></div>
    {% endblock %}
    {% block secondBlock %}
    <div class="row addPadding">
        <div class="col-md-8">
            <h2 class="titlePara">Nos Services</h2>
            <p class="textDescription">GustoCoffee vous propose des <strong>services bureautiques</strong> comme un espace de stockage privé en ligne, la vented de support numérique, ainsi qu'une impression. De plus, la consommation de <strong>café, thé, crêpes et gaufres sont à volonté !</strong><br>
            Il est aussi possible d'y avoir un petit déjeuner, déjeuner ou encore un dîner tout en continuant votre travail de la journée.
            </p>
        </div>
        <div class="col-md-2">
            <img alt="Restauration GustoCoffee" src="{{ asset('img/servicesResto.jpg') }}">
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="clear"></div>
    {% endblock %}
    {% block thirdBlock %}
    <div class="row">
        <div class="col-md-10">
            <p><strong>TODO : FRANCHISE DU GROUPE</strong></p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="clear"></div>
    {% endblock %}
    {% block footer %}
    <footer class="footer">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="{{ asset('pdf/mentionsLegales.pdf') }}" target="_blank">Mentions Légales</a><br>
                    <a href="{{ asset('pdf/CGU.pdf') }}" target="_blank">Conditions Générales d'Utilisation</a><br>
                    <a href="{{ asset('pdf/CGV.pdf') }}" target="_blank">Conditions Générales de Vente</a><br>
                    FAQ <br>
                    Newsletter <br>
                    Recrutement <br>
                    infos
                </p>
            </div>
        </div>
    </footer>
    {% endblock %}
</div>

{% block script %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>

