{% block head %}
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock %}

    <meta name="description" content="{% trans %}GustoCoffee est une société proposant des espaces collaboratifs, dits 'co-working'. {% endtrans %}">
    <meta name="KASAgency" content="{% trans %}KASAgency est une jeune agence web.{% endtrans %}">

    <link rel="icon" type="image/png" href="{{ asset('img/gc_favicon_16x16.ico')}}" />
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.theme.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('build/global.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% block customCss %}{% endblock %}

</head>

{% endblock %}
<body>
{% block body %}

    {% block navbar %}
    <div id="main" class="container-fluid">
        <div class="row {% block firstImg %}{% endblock %}">
            <div class="col-md-12">
                <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> {{ 'Menu'|trans }} <i class="fa fa-bars"></i>
                            </button>
                            <div class="home">
                                <a class="navbar-brand page-scroll" href="{{ path('gc_home_page') }}">
                                    <img alt="GustoCoffee" src="{{ asset('img/gc_transparent_resize.png') }}" />
                                </a>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="hidden">
                                    <a href="#page-top"></a>
                                </li>
                                <li>
                                    <a class="fa fa-home fa-3x" aria-hidden="true" {% if app.request.get('_route') == 'gc_home_page' %}  {% endif %} href="{{ path('gc_home_page') }}"> {{ 'Accueil'|trans }}</a>
                                </li>
                                <li>
                                    <a {% if app.request.get('_route') == 'gc_evenement_page' %} class="Myactive" {% endif %} class="page-scroll" href="{{ path('gc_evenement_page') }}">{{ 'Evénements'|trans }}</a>
                                </li>
                                <li>
                                    <a {% if app.request.get('_route') == 'gc_reservation_page' %} class="Myactive" {% endif %} class="page-scroll" href="{{ path('gc_reservation_page') }}">{{ 'Réservation'|trans }}</a>
                                </li>
                                <li>
                                    <a {% if app.request.get('_route') == 'annonce_index' %} class="Myactive" {% endif %} class="page-scroll" href="{{ path('annonce_index') }}">{{ "Annonces"|trans }}</a>
                                </li>
                                <li>
                                    <a {% if app.request.get('_route') == 'gc_contact_page' %} class="Myactive" {% endif %} class="page-scroll" href="{{ path('gc_contact_page') }}">{{ 'Contact'|trans }}</a>
                                </li>
                                <li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a {% if app.request.get('_route') == 'fos_user_profile_edit' %} class="Myactive" {% endif %} href="{{ path('fos_user_profile_edit') }}">{{ 'Espace Client'|trans }}</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <a  class="fa fa-user-circle fa-3x" aria-hidden="true" alt="{{  'Connexion'|trans }}" href="{{ path('fos_user_security_login') }}">
                                            {#<img src="{{ asset('img/user.png') }}" alt="{{  'Connexion'|trans }}">#}
                                        </a>
                                    {% endif %}
                                </li>

                                {% if app.request.get('_route_params') is not null %}
                                {% for locale in locales %}
                                    <li>
                                        <button type="button" class="btn btn-default btn-locale-flag {{ locale == app.request.getLocale() ? 'active' : '' }}" onclick="location.href='{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale})) }}'">
                                            <img src="{{ asset('img/'~ locale ~'.png') }}" alt="{{ locale }}"/>
                                        </button>
                                    </li>
                                {% endfor %}
                                {% endif %}
                                <li>
                                    <a class="fa fa-shopping-cart fa-3x" aria-hidden="true" href="{{ path('panier') }}"></a>
                                    {#<a class="page-scroll" href="{{ path('panier') }}">{{ 'Panier'|trans }}</a>#}
                                </li>
                                <li>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a href="{{ path('easyadmin') }}">
                                        {{ 'Backoffice'|trans }}
                                    </a>
                                {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="sticky-container">
                <ul class="sticky">
                    <li>
                        <a href="https://www.facebook.com/GustoCoffeeKASAgency/" target="_blank">
                            <img width="32" height="32" title="" alt="facebook" src="{{ asset('social/facebook.png') }}" />
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li> <img width="32" height="32" title="" alt="twitter" src="{{ asset('social/twitter.png') }}" />
                        <p>Twitter</p>
                    </li>
                    <li> <img width="30" height="32" title="" alt="instagram" src="{{ asset('social/instagram.png') }}" />
                        <p>Instagram</p>
                    </li>
                </ul>
            </div>
            <div>

                <h1 class="titleHome {% block paddingTitle %}{% endblock %}">
                    {% block titleHome %}{% endblock %}
                </h1>
            </div>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block firstBlock %}
    {% endblock %}

    {% block secondBlock %}
    {% endblock %}

    {% block thirdBlock %}
    {% endblock %}
    </div>

   {% embed "footer.html.twig" %}
    {% endembed  %}

    {% block script %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        {#<script src="{{ asset('js/jquery.onepage-scroll.min.js') }}"></script>#}
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {#<script>#}
        {#$.datepicker.setDefaults( $.datepicker.regional[ "{{ app.request.getLocale() }}" ] );#}
    {#</script>#}

        <script src="{{ asset('build/app.js') }}"></script>
    {#  Adding ajax script TODO: add specific on each page #}
        <script src="{{ asset('build/ajax.js') }}"></script>

{% endblock %}
{% endblock %}
</body>
</html>
