{% block head %}
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock %}

    <meta name="description" content="{% trans %}GustoCoffee est une société proposant des espaces collaboratifs, dits 'co-working'. {% endtrans %}">
    <meta name="KASAgency" content="{% trans %}KASAgency est une jeune agence web.{% endtrans %}">

    <link rel="icon" type="image/png" href="{{ asset('img/gc_favicon_16x16.ico')}}" />
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/jquery-ui.theme.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('build/global.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ cookie_consent_render() }}

    {#{% block customCss %}{% endblock %}#}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1693020454042033',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

{% endblock %}
<body>
{% block body %}

    {% block navbar %}
    <div id="main" class="container-fluid">
        <div class="row ">

                <div class="body-wrap {% block firstImg %}{% endblock %}">
                    <div class="">
                        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top marginTop">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand-change" href="{{ path('gc_home_page') }}"><img class="logoGC" alt="GustoCoffee" title="Logo GustoCoffee" src="{{ asset('img/gc_transparent_resize.png') }}"/></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-left">
                                        <li class="hidden">
                                            <a href="#page-top"></a>
                                        </li>
                                        <li {% if app.request.get('_route') == 'gc_home_page' %} class="active" {% endif %}>
                                            <a class="fa fa-home fa-3x" aria-hidden="true"  href="{{ path('gc_home_page') }}"> {{ 'Accueil'|trans }}</a>
                                        </li>
                                        <li {% if app.request.get('_route') == 'gc_evenement_page' %} class="active" {% endif %} >
                                            <a  href="{{ path('gc_evenement_page') }}">{{ 'Evénements'|trans }}</a>
                                        </li>
                                        <li class="dropdown {% if app.request.get('_route') == 'gc_reservation_page' or app.request.get('_route') ==  'salle_index' or app.request.get('_route') =='place_index' %} active {% endif %}">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('gc_reservation_page') }}">{{ 'Réservation'|trans }}</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('salle_index') }}">Salle privée</a></li>
                                                <li><a href="{{ path('place_index') }}">Place individuelle</a></li>
                                            </ul>
                                        </li>
                                        <li {% if app.request.get('_route') == 'annonce_index' %} class="active" {% endif %}>
                                            <a   href="{{ path('annonce_index') }}">{{ "Annonces"|trans }}</a>
                                        </li>
                                        <li {% if app.request.get('_route') == 'gc_contact_page' %} class="active" {% endif %} >
                                            <a  href="{{ path('gc_contact_page') }}">{{ 'Contact'|trans }}</a>
                                        </li>
                                        <li class="dropdown{% if app.request.get('_route') == 'fos_user_profile_edit' %} active {% endif %}">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('fos_user_profile_edit') }}">{{ 'Espace Client'|trans }}</a>
                                            {% endif %}
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('factures') }}">Vos Factures</a></li>
                                                <li><a href="{{ path('factures') }}">Mes informations</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown {% if app.request.get('_route') == 'fos_user_security_login' %} active {% endif %}">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a href="{{ path('fos_user_security_logout') }}">
                                                    {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            {% else %}
                                                <a class="dropdown-toggle " data-toggle="dropdown"  title="{{ 'Connexion'|trans }}" href="{{ path('fos_user_security_login') }}">
                                                    {#<img src="{{ asset('img/user.png') }}" alt="{{  'Connexion'|trans }}">#}
                                                    <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                            <ul class="dropdown-menu">
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                                <li><a href="{{ path('factures') }}">Vos Factures</a></li>
                                                <li><a href="{{ path('factures') }}">Mes informations</a></li>
                                                <li class="divider"></li>
                                                {% endif %}
                                                <li>
                                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                        <a href="{{ path('fos_user_security_logout') }}">
                                                            {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                                                        </a>
                                                    {% else %}
                                                        <a title="{{ 'Connexion'|trans }}" href="{{ path('fos_user_security_login') }}">
                                                            {{ 'Connexion'|trans }}
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="panier-icon-menu" {% if app.request.get('_route') == 'panier' %} class="active" {% endif %}>
                                            {{ render(controller('AppBundle:Panier:menuIcon')) }}
                                        </li>
                                        {% if app.request.get('_route_params') is not null %}
                                            {% for locale in locales %}
                                                <li>
                                                    <button type="button" class="btn btn-default btn-locale-flag {{ locale == app.request.getLocale() ? 'active' : '' }}" onclick="location.href='{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale})) }}'">
                                                        <img src="{{ asset('img/'~ locale ~'.png') }}" alt="{{ locale }}"/>
                                                    </button>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                        {#<li>#}
                                        {#<a class="fa fa-shopping-cart fa-3x badge" data-count="0" aria-hidden="true" href="{{ path('panier') }}"></a>#}
                                        {#<a  href="{{ path('panier') }}">{{ 'Panier'|trans }}</a>#}
                                        {#</li>#}
                                        <li>
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <a class="fa fa-gears fa-2x" title="Backoffice" href="{{ path('easyadmin') }}">
                                                    {{ 'BO'|trans }}
                                                </a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container-fluid -->
                        </nav>
                    </div>

                {#<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">#}
                    {#<div class="container">#}
                        {#<!-- Brand and toggle get grouped for better mobile display -->#}
                        {#<div class="navbar-header page-scroll">#}
                            {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
                                {#<span class="sr-only">Toggle navigation</span> {{ 'Menu'|trans }} <i class="fa fa-bars"></i>#}
                            {#</button>#}
                            {#<div class="home">#}
                                {#<a class="navbar-brand page-scroll" href="{{ path('gc_home_page') }}">#}
                                    {#<img alt="GustoCoffee" src="{{ asset('img/gc_transparent_resize.png') }}" />#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}

                        {#<!-- Collect the nav links, forms, and other content for toggling -->#}
                        {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                            {#<ul class="nav navbar-nav navbar-left">#}
                                {#<li class="hidden">#}
                                    {#<a href="#page-top"></a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a class="fa fa-home fa-3x" aria-hidden="true" {% if app.request.get('_route') == 'gc_home_page' %}  {% endif %} href="{{ path('gc_home_page') }}"> {{ 'Accueil'|trans }}</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a {% if app.request.get('_route') == 'gc_evenement_page' %} class="Myactive" {% endif %}  href="{{ path('gc_evenement_page') }}">{{ 'Evénements'|trans }}</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a {% if app.request.get('_route') == 'gc_reservation_page' %} class="Myactive" {% endif %}  href="{{ path('gc_reservation_page') }}">{{ 'Réservation'|trans }}</a>#}
                                    {#<ul id="dropMenu">#}
                                        {#<li>#}
                                            {#<a href="{{ path('gc_reservation_page') }}">Salle privée</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="#">Place individuelle</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a {% if app.request.get('_route') == 'annonce_index' %} class="Myactive" {% endif %}  href="{{ path('annonce_index') }}">{{ "Annonces"|trans }}</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a {% if app.request.get('_route') == 'gc_contact_page' %} class="Myactive" {% endif %}  href="{{ path('gc_contact_page') }}">{{ 'Contact'|trans }}</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                                        {#<a {% if app.request.get('_route') == 'fos_user_profile_edit' %} class="Myactive" {% endif %} href="{{ path('fos_user_profile_edit') }}">{{ 'Espace Client'|trans }}</a>#}
                                    {#{% endif %}#}
                                {#</li>#}
                                {#<li>#}
                                    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                                        {#<a href="{{ path('fos_user_security_logout') }}">#}
                                            {#{{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}#}
                                        {#</a>#}
                                    {#{% else %}#}
                                        {#<a class="fa fa-user-circle fa-3x" aria-hidden="true" alt="{{  'Connexion'|trans }}" href="{{ path('fos_user_security_login') }}">#}
                                            {#<img src="{{ asset('img/user.png') }}" alt="{{  'Connexion'|trans }}">#}
                                        {#</a>#}
                                    {#{% endif %}#}
                                {#</li>#}
                                {#<li id="panier-icon-menu">#}
                                    {#{{ render(controller('AppBundle:Panier:menuIcon')) }}#}
                                {#</li>#}
                                {#{% if app.request.get('_route_params') is not null %}#}
                                    {#{% for locale in locales %}#}
                                        {#<li>#}
                                            {#<button type="button" class="btn btn-default btn-locale-flag {{ locale == app.request.getLocale() ? 'active' : '' }}" onclick="location.href='{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale})) }}'">#}
                                                {#<img src="{{ asset('img/'~ locale ~'.png') }}" alt="{{ locale }}"/>#}
                                            {#</button>#}
                                        {#</li>#}
                                    {#{% endfor %}#}
                                {#{% endif %}#}
                                {#<li>#}
                                    {#<a class="fa fa-shopping-cart fa-3x badge" data-count="0" aria-hidden="true" href="{{ path('panier') }}"></a>#}
                                    {#<a  href="{{ path('panier') }}">{{ 'Panier'|trans }}</a>#}
                                {#</li>#}
                                {#<li>#}
                                {#{% if is_granted("ROLE_ADMIN") %}#}
                                    {#<a class="fa fa-gears fa-2x" href="{{ path('easyadmin') }}">#}
                                        {#{{ 'BO'|trans }}#}
                                    {#</a>#}
                                {#{% endif %}#}
                                {#</li>#}
                            {#</ul>#}
                        {#</div>#}
                    {#</div>#}
                {#</nav>#}

            <div class="sticky-container">
                <ul class="sticky">
                    <li>
                        <a href="https://www.facebook.com/GustoCoffeeKASAgency/" target="_blank">
                            <img width="32" height="32" title="" alt="facebook" src="{{ asset('img/social/facebook.png') }}" />
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li> <img width="32" height="32" title="" alt="twitter" src="{{ asset('img/social/twitter.png') }}" />
                        <p>Twitter</p>
                    </li>
                    <li> <img width="30" height="32" title="" alt="instagram" src="{{ asset('img/social/instagram.png') }}" />
                        <p>Instagram</p>
                    </li>
                </ul>
            </div>

            <div class="titleHome {% block paddingTitle %}{% endblock %}">
                {% block titleHome %}{% endblock %}
            </div>
        </div>

    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block firstBlock %}
    {% endblock %}

    {% block secondBlock %}
    {% endblock %}

    {% block thirdBlock %}
    {% endblock %}
    </div>

   {% embed "footer.html.twig" %}
    {% endembed  %}


{% endblock %}
{% block script %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    {#<script src="{{ asset('js/jquery.onepage-scroll.min.js') }}"></script>#}
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    {# TODO: Remove this useless thing <script src="{{ asset('js/jquery.form.min.js') }}" ></script>#}
    <script async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script async type="text/javascript" src="https://api.payplug.com/js/1.0/form.js"></script>

    <script async src="{{ asset('js/bootstrap.min.js') }}"></script>
    {#<script>#}
    {#$.datepicker.setDefaults( $.datepicker.regional[ "{{ app.request.getLocale() }}" ] );#}
    {#</script>#}

    <script async src="{{ asset('build/app.js') }}"></script>
    {#  Adding ajax script TODO: add specific on each page #}
    <script async src="{{ asset('build/ajax.js') }}"></script>

{% endblock %}
</body>
</html>
