{% block footer %}
    <div class="clearThirty"></div>
    <footer class="footer flex-rw addPadding">
        <ul class="footer-list-top">
            <li><h4 class="footer-list-header">A Propos de GustoCoffee</h4></li>
            <li><a href="{{ asset('pdf/mentionsLegales.pdf') }}" class="generic-anchor footer-list-anchor" target="_blank">{{ "Mentions Légales"|trans }}</a></li>
            <li><a href="{{ asset('pdf/CGU.pdf') }}" class="generic-anchor footer-list-anchor" target="_blank">{{ "Conditions Générales d'Utilisation"|trans }}</a></li>
            <li><a href="{{ asset('pdf/CGV.pdf') }}" class="generic-anchor footer-list-anchor" target="_blank">{{ "Conditions Générales de Vente"|trans }}</a></li>
            <li><a href='https://www.indeed.fr/emplois?q=Serveur+caf%C3%A9&l=Paris' target="_blank" class="generic-anchor footer-list-anchor">{{ "Recrutement"|trans }}</a></li>
        </ul>
        <ul class="footer-list-top">
            <li><h4 class="footer-list-header">Nos réseaux sociaux</h4></li>
            <li>
                <a href="https://www.facebook.com/GustoCoffeeKASAgency/" target="_blank">
                    <img width="32" height="32" title="" alt="facebook" src="{{ asset('social/facebook.png') }}" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/?lang=fr">
                    <img width="32" height="32" title="" alt="twitter" src="{{ asset('social/twitter.png') }}" />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/">
                    <img width="30" height="32" title="" alt="instagram" src="{{ asset('social/instagram.png') }}" />
                </a>
            </li>
        </ul>
        <ul class="footer-list-top">
            <li id='help'><h4 class="footer-list-header">Besoin d'aide ?</h4></li>
            <li><a href="{{ path('gc_contact_page') }}" class="generic-anchor footer-list-anchor">Contact</a></li>
            <li><a href='{{ path('gc_faq_page') }}' class="generic-anchor footer-list-anchor">{{ "FAQ"|trans }}</a></li>
        </ul>

        <section class="footer-bottom-section flex-rw">
            <div class="footer-bottom-wrapper">
                <i class="fa fa-copyright" role="copyright">
                </i> 2017 GustoCoffee <address class="footer-address" role="company address">Paris, France</address><span class="footer-bottom-rights"> - Tous droits réservés - </span>
            </div>
        </section>
    </footer>

{% endblock %}