<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top marginTop">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{{ "Toggle navigation"|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand-change" href="{{ path('gc_home_page') }}"><img class="logoGC" alt="GustoCoffee" title="Logo GustoCoffee" src="{{ asset('img/gc_transparent_resize.png') }}"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li {% if app.request.get('_route') == 'gc_home_page' %} class="active" {% endif %}>
                    <a href="{{ path('gc_home_page') }}" title="Page d'accueil"><i class="fa fa-home fa-1x" aria-hidden="true"></i> {{ 'Accueil'|trans }}</a>
                </li>
                <li {% if app.request.get('_route') == 'gc_evenement_page' %} class="active" {% endif %} >
                    <a  href="{{ path('gc_evenement_page') }}" title="Nos événements">{{ 'Evénements'|trans }}</a>
                </li>
                <li class="dropdown {% if app.request.get('_route') == 'gc_reservation_page' or app.request.get('_route') ==  'salle_index' or app.request.get('_route') =='place_index' %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('gc_reservation_page') }}">{{ 'Réservation'|trans }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('salle_index') }}" title="Salle privée">{{ "Salle privée"|trans }}</a></li>
                        <li><a href="{{ path('place_index') }}" title="Place individuelle">{{ "Place individuelle"|trans }}</a></li>
                    </ul>
                </li>
                <li {% if app.request.get('_route') == 'annonce_index' %} class="active" {% endif %}>
                    <a href="{{ path('annonce_index') }}">{{ "Annonces"|trans }}</a>
                </li>
                <li {% if app.request.get('_route') == 'gc_contact_page' %} class="active" {% endif %} >
                    <a href="{{ path('gc_contact_page') }}">{{ 'Contact'|trans }}</a>
                </li>
                <li class="dropdown{% if app.request.get('_route') == 'fos_user_profile_edit' %} active {% endif %}">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('fos_user_profile_edit') }}">{{ 'Espace Client'|trans }}</a>
                    {% endif %}
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('factures') }}">{{ "Vos Factures"|trans }}</a></li>
                        <li><a href="{{ path('factures') }}">{{ "Mes informations"|trans }}</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown {% if app.request.get('_route') == 'fos_user_security_login' %} active {% endif %}">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="dropdown-toggle" data-toggle="dropdown" title="{{ 'Connexion'|trans }}" href="{{ path('fos_user_security_login') }}">
                            {#<img src="{{ asset('img/user.png') }}" alt="{{  'Connexion'|trans }}">#}
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <ul class="dropdown-menu">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('factures') }}">{{ "Vos Factures"|trans }}</a></li>
                            <li><a href="{{ path('factures') }}">{{ "Mes informations"|trans }}</a></li>
                            <li class="divider"></li>
                        {% endif %}
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'Déconnexion'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a title="{{ 'Connexion'|trans }}" href="{{ path('fos_user_security_login') }}">
                                    {{ 'Connexion'|trans }}
                                </a>
                            {% endif %}
                        </li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% else %}
                            <li>
                                <a href="#" onclick="fb_login();" title="connexion facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Connexion Facebook</a>
                            </li>
                            <li>
                                <a href="{{ hwi_oauth_login_url('google') }}" title="connexion google"><i class="fa fa-google" aria-hidden="true"></i> Connexion Google</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li {# onclick="location.href='{{ path('panier') }}'"#} id="panier-icon-menu" {% if app.request.get('_route') == 'panier' %} class="active" {% endif %}>
                     {{ render(controller('AppBundle:Panier:menuIcon')) }}
                </li>
                {% if app.request.get('_route_params') is not null %}
                    {% for locale in locales %}
                        <li>
                            <button type="button" class="btn btn-default btn-locale-flag {{ locale == app.request.getLocale() ? 'active' : '' }}" onclick="location.href='{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale})) }}'">
                                <img src="{{ asset('img/'~ locale ~'.png') }}" alt="{{ locale }}"/>
                            </button>
                        </li>
                    {% endfor %}
                {% endif %}
                {#<li>#}
                {#<a class="fa fa-shopping-cart fa-3x badge" data-count="0" aria-hidden="true" href="{{ path('panier') }}"></a>#}
                {#<a  href="{{ path('panier') }}">{{ 'Panier'|trans }}</a>#}
                {#</li>#}
                <li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('easyadmin') }}" title="Backoffice">
                            <i class="fa fa-gears fa-1x" ></i> {{ 'BO'|trans }}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>