{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'GustoCoffee - Home'|trans }}</title>
{% endblock %}

{% block firstImg %}
    topPage topPageHome
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{%  endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Enjoy, Coffee & Work</h1>
        <h3 class="colorWhite"> <i>{{"Et si on tentait l'expérience"|trans}} ? </i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez ici'|trans }}
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <button class="buttonGC greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
            {{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
        </button>
    {% endif %}
{% endblock %}


{% block firstBlock %}
 {# ---------- First Block ---------- #}
    <div class="row addPadding">
        <div class="col-md-9">
            <h2 class="centerText">GustoCoffee</h2>
            <p class="textDescription">{% trans %}
                « Le coworking est un type d’organisation du travail qui regroupe deux notions : un espace de travail partagé, mais aussi un réseau de travailleurs encourageant l’échange et l’ouverture. »  (Source Wikipédia)
                {% endtrans %}
                <br>
                {% trans %}
                Le coworking c’est tout simple : ce sont des espaces qui regroupent des services multiples pour les travailleurs indépendants du numérique : de quoi brancher son ordinateur, des imprimantes, machines à café,
                salles de réunion le tout de manière plus ou moins temporaire. Ces espaces favorisent surtout l’intégration dans une communauté de coworkers et offrent la possibilité de constituer un réseau de partenaires,
                collaborateurs, clients et sous-traitant. {% endtrans %}<br><br>
                {% trans %}
                La société GustoCoffee est spécialisée dans la vente de produits autour du café, machine automatique, machine expresso, moulin à café, café en grains, café en dosettes, etc. Aujourd'hui, GustoCoffee propose un nouveau concept de "Coffee-Shop CoWorking".
                Ainsi, nous vous proposons un espace spécialement aménagé pour le travail individuel ou en groupe au sein de Paris, près de la Gare du Nord accessible via le RER B ou RER D.
                {% endtrans %}
            </p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <p class="textDescription centerText"><br>L'expérience vous tente ? Profitez de nos avantages en vous inscrivant. <button class="buttonGC blueButton">
                    <a class="colorWhite" href="{{ path('fos_user_registration_register') }}">{{ "Inscrivez-vous ici"|trans }}</a>
                </button></p>
        {% endif %}
        </div>
        <div class="col-md-3 videoContainer">
            <iframe class="videoContent" src="https://www.youtube.com/embed/F7va26Wy5bw" frameborder="0" width="560" height="349" allowfullscreen></iframe>
        </div>
    </div>
{# ---------- End First Block ---------- #}
{% endblock %}

{% block secondBlock %}
    {# ---------- Second Block ---------- #}

    <div class="row addPadding">
        <div class="col-md-9">
            <h2 class="centerText">{{ 'Nos Services'|trans }}</h2>
            <p class="textDescription">
                {% trans %}
                GustoCoffe vous mets à disposition des places individuelles dans un grand openspace ou des salles de réunion privatif. <br>
                On vous propose des services bureautiques comme un espace de stockage privé en ligne, la vente de supports numériques, ainsi qu'une impression. De plus, la consommation de  café, thé, crêpes et gaufres sont à volonté !{% endtrans %}
                <br>{% trans %}Il est aussi possible d'y avoir un petit déjeuner, déjeuner ou encore un dîner, en réservant une salle privée, tout en continuant votre travail de la journée.{% endtrans %}
                <br>
                {% trans %}
                Chez GustoCoffee, vous avez le choix de vous installer soit en OpenSpace ou, si vous le souhaitez, en groupe dans une salle privée. Les réservations se font directement sur notre site internet.

                {% endtrans %}
                <p class="textDescription centerText"><br>L'expérience vous tente ? Vous pouvez <button class="buttonGC blueButton">
                    <a class="colorWhite" href="{{ path('gc_reservation_page') }}">{{ "Réservez ici"|trans }}</a></button></p>
                </p>
        </div>
        <div class="col-md-3 foodImg">
            <img alt="Restauration GustoCoffee" src="{{ asset('img/servicesResto.jpg') }}">
        </div>
    </div>

    {# ---------- End Second Block ---------- #}
{% endblock %}

{% block thirdBlock %}
    {# ---------- Third Block ---------- #}

    <div class="row addPadding">
        <div class="col-md-12">
            <p class="textDescription franchiseGroupe">
                {% trans %}
                La société  GustoCoffee  est spécialisée dans la  vente de produit autour du café , machine automatique, machine expresso, moulin à café, café en grains, café en dosette, etc.
                MM. Philippe Landemaine directeur et Alain Bellucci directeur associé, ont depuis une dizaine d'années implanté des  coffee-shops  en Italie, ainsi qu'en Angleterre et se sont implantés depuis peu sur Paris, avec un nouveau concept de " Coffee-Shop Coworking ".
                {% endtrans %}
            </p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="clearThirty"></div>

    {# ---------- End Third Block ---------- #}
{% endblock %}