<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">{{ "Panier"|trans }}</li>
        <li>
            <a href="{{ path('panier') }}">
                {% if articles == 0 %}
                    {{  "Aucun article dans votre panier"|trans }}
                {% elseif articles == 1 %}
                    {{  "1 article dans votre panier"|trans}}
                {% else %}
                    {{ articles }} {{ "articles dans votre panier"|trans }}
                {% endif %}
            </a>
        </li>
    </ul>
</div>