{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    <title>GustoCoffee - {{ "Modification de mot de passe"|trans }}</title>
{% endblock %}

{% block firstImg %}
    topPage topPageLogin
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">{{ "Modification de mot de Passe"|trans }}</h1>
        <h3 class="colorWhite"> <i>{{ "Mot de passe oublié ? On vous en renvoie un !"|trans }} !</i></h3>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <button class="buttonGC greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
            {{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
        </button>
    {% endif %}
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">{{ "Réinitialiser le mot de passe"|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-connexion">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input class="maxWidth" type="text" id="username" name="username" required="required" />
                </div>
                <div class="clear"></div>
                <div>
                    <input class="buttonGC brownButton" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}