<div class="col-md-3 hidden-xs hidden-sm addPadding">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">{{ "Nos produits"|trans }}</li>
            {{ render(controller('AppBundle:TypeDeProduit:menu')) }}
        </ul>
    </div>
</div>

<div class="col-md-8 col-xs-12">

    {# Begining of cart #}
    <div class="wrap cf">
        <div class="heading cf">
            <h1>{{ "Valider mon panier"|trans }}</h1>
        </div>
        <div class="cartPanier">
            <!--    <ul class="tableHead">
                  <li class="prodHeader">Product</li>
                  <li>Quantity</li>
                  <li>Total</li>
                   <li>Remove</li>
                </ul>-->
            <ul class="cartWrap">
                {% set cmpt = 0 %}
                {% if  commande.commande.salle is defined%}
                    {# @var salle \AppBundle\Entity\Salle #}
                    {%  for salle in commande.commande.salle %}
                        <li class="items {% if cmpt is odd %}odd{% else %}even{% endif %}">
                            {% set cmpt = cmpt + 1 %}
                            <div class="infoWrap">
                                <div class="cartSection">
                                    <img src="{{ asset('uploads/images/salles/'~ salle.image) }}" alt="{{ "Salle privatisée"|trans }}" title="{{ salle.reference }}" class="itemImg" />
                                    <p class="itemNumber">
                                        {{ "Le " ~ salle.date|date('d/m/Y') ~ " De " ~ salle.heureDebut|date('H:i') ~ ' à '~ salle.heureFin|date('H:i') ~ " Temps: " ~ salle.heures ~ "H" ~ salle.minutes|default('') }}
                                    </p>
                                    <h3>{{ salle.reference }}</h3>

                                    <p> <input type="text" class="inputPanier qty" placeholder="{{ salle.heures ~ "H" ~ salle.minutes|default('') ~ 'min' }}"/> x {{ salle.prixHT }}€</p>

                                    <p class="stockStatus">{{ "Disponible" }}</p>
                                </div>
                                <div class="prodTotal cartSection">
                                    <p class="totalprice">{{ salle.prixTTC }}  €</p>
                                </div>
                            </div>
                            {% if salle.thirdHourFree is defined and salle.thirdHourFree == 1 %}
                                <div class="special"><div class="specialContent">{{ "Vous bénéficiez de la 3ème heure gratuite"|trans }}</div></div>
                            {% elseif salle.journeeIllimitee is defined %}
                                <div class="special"><div class="specialContent">{{ "Vous bénéficiez de notre offre journée illimité"|trans }}</div></div>
                            {% endif %}

                        </li>
                    {%  endfor %}
                {% endif %}

                {% if  commande.commande.place is defined %}

                    {# @var place \AppBundle\Entity\Place#}
                    {%  for place in commande.commande.place %}
                        <li class="items {% if cmpt is odd %}odd{% else %}even{% endif %}">
                            {% set cmpt = cmpt + 1 %}
                            <div class="infoWrap">
                                <div class="cartSection">
                                    <img src="{{ asset('uploads/images/salles/'~ place.image) }}" alt="{{ "Place privatisée"|trans }}" title="{{ place.reference }}" class="itemImg" />
                                    <p class="itemNumber">
                                        {{ "Le " ~ place.date|date('d/m/Y') ~ " De" ~ place.heureDebut|date('H:i') ~ ' à '~ place.heureFin|date('H:i') ~ "Temps :" ~ place.heures ~ "H" ~ place.minutes|default('') }}
                                    </p>
                                    <h3>{{ place.reference }}</h3>

                                    <p> <input type="text" class="inputPanier qty" placeholder="{{ place.heures ~ "H" ~ place.minutes|default('') ~ 'min' }}"/> x {{ place.prixHT }}€</p>

                                    <p class="stockStatus">{{ "Disponible" }}</p>
                                </div>
                                <div class="prodTotal cartSection">
                                    <p class="totalprice">{{ place.prixTTC }}  €</p>
                                </div>
                            </div>
                            {% if place.thirdHourFree is defined and place.thurdHiyrFree == 1 %}
                                <div class="special"><div class="specialContent">{{ "Vous bénéficiez de la 3ème heure gratuite"|trans }}</div></div>
                            {% elseif place.journeeIllimitee is defined %}
                                <div class="special"><div class="specialContent">{{ "Vous bénéficiez de notre offre journée illimité"|trans }}</div></div>
                            {% endif %}

                        </li>
                    {%  endfor %}
                {% endif %}

                {% if  commande.commande.produit is defined %}

                    {# @var produit \AppBundle\Entity\Produit#}
                    {%  for produit in commande.commande.produit %}
                        <li class="items {% if cmpt is odd %}odd{% else %}even{% endif %}">
                            {% set cmpt = cmpt + 1 %}
                            <div class="infoWrap">
                                <div class="cartSection">
                                    <img src="{{ asset('uploads/images/products/'~ produit.image) }}" alt="{{ "Place privatisée"|trans }}" title="{{ produit.reference }}" class="itemImg" />
                                    <p class="itemNumber">
                                        {{ "Catégorie: " ~ produit.nomtypeproduit }}
                                    </p>
                                    <h3>{{ produit.reference }}</h3>

                                    <p> <input type="text" class="inputPanier qty" placeholder="{{ produit.quantite }}"/> x {{ produit.prixHT * produit.quantite }}€</p>

                                    <p class="stockStatus">{{ "Disponible" }}</p>
                                </div>
                                <div class="prodTotal cartSection">
                                    <p class="totalprice">{{ produit.prixTTC * produit.quantite }}  €</p>
                                </div>
                            </div>
                            {#{% if thirdHourFree == 1 %}#}
                            {#<div class="special"><div class="specialContent">{{ "Vous bénéficiez de la 3ème heure gratuite"|trans }}</div></div>#}
                            {#{% elseif journeeIllimitee  == 1 %}#}
                            {#<div class="special"><div class="specialContent">{{ "Vous bénéficiez de notre offre journée illimité"|trans }}</div></div>#}
                            {#{% endif %}#}

                        </li>
                    {%  endfor %}
                {% endif %}



            </ul>
        </div>

        {% set totalReduc = 0 %}
        <div class="subtotal cf">
            <ul>
                {% if commande.commande.produit is defined and commande.commande.produit|length != 0 %}
                    <li class="totalRow"> <span class="label">{{ "Total Produits HT"|trans }} :</span><span class="value">{{ commande.commande.prixHT  }}€</span></li>
                {% endif %}
                {% if commande.commande.produit is defined %}
                    {% for key, tva in commande.commande.tva %}
                        <li class="totalRow">  <span class="label">{{ "TVA"|trans }} {{ key }} :</span><span class="value">{{ tva }} €</span></li>
                    {% endfor %}
                {% endif %}
                {% if commande.commande.salle is defined %}
                    <li class="totalRow">   <span class="label">{{ "Total Salle TTC"|trans }} :</span><span class="value">{{ commande.commande.prixSalleTTC }}€</span></li>
                    {% for key, tva in commande.commande.tvaSalle %}
                        <li class="totalRow">   <span class="label">{{ "dont"|trans }} {{ key }} {{ "TVA Salle"|trans }}:</span><span class="value">{{ tva }} €</span></li>
                    {% endfor %}
                {% endif %}
                {% if commande.commande.place is defined  %}
                    <li class="totalRow">   <span class="label">{{ "Total Place TTC"|trans }} :</span><span class="value">{{ commande.commande.prixPlaceTTC }}€</span></li>
                    {% for key, tva in commande.commande.tvaPlace %}
                        <li class="totalRow">   <span class="label">{{ "dont"|trans }} {{ key }} {{ "TVA Place"|trans }}:</span><span class="value">{{ tva }} €</span></li>
                    {% endfor %}
                {% endif %}
                {% if commande.commande.thirdHourFree is defined and commande.commande.thirdHourFree > 0 %}
                    <li class="totalRow">   <span class="label reduction-3h">{{ "Réduction 3ème heure"|trans }}:</span><span class="value reduction-10">{{ commande.commande.thirdHourFree }} €</span></li>
                {% endif %}
                {% if commande.commande.produit is defined and ( commande.commande.salle is defined or commande.commande.place is defined ) %}
                    <li class="totalRow">   <span class="label">{{ 'Sous-Total TTC'|trans }} :</span><span class="value">{{ commande.commande.prixTTC|default('') + commande.commande.prixSalleTTC|default('') + commande.commande.prixPlaceTTC|default('') }} €</span></li>
                    <li class="totalRow">   <span class="label reduction-10">{{ "Réduction"|trans }} -10% :</span><span class="value reduction-10">-{{ commande.commande.reduction10 }} €</span></li>
                {% endif %}
                {% if commande.commande.VATtotalTVA is defined %}
                    <li class="totalRow">   <span class="reduction-TVA">{{ "Non assujetti à la tva"|trans }}:</span><span class="value reduction-TVA">-{{ commande.commande.VATtotalTVA }} €</span></li>
                {% endif %}
                <li class="totalRow final">   <span class="label">{{ "Montant Total TTC"|trans }} :</span><span class="value">{{ commande.commande.totalTTC }} €</span></li>

            </ul>
            <div class="clearfix"></div>
            <form id="paiement-commande" action="{{ path('paiement_commande', { 'id' : commande.idcommande }) }}" method="POST"/>
            <input name="token" type="hidden" value="{{ commande.commande.token }}" />
            <input name="prix" type="hidden" value="{{ commande.commande.prixTTC }}" />
            <input name="totalTTC" type="hidden" value="{{ commande.commande.totalTTC }}" />
            <input name="date" type="hidden" value="{{ commande.datecommande|date('dmyhms') }}" />
            <button type="submit" class="btn btn-success pull-right">{{ "Payer"|trans }}</button>
            </form>
            {#<li class="totalRow"><a href="{{ path('livraison_panier') }}" class="btnPanier continue">{{ "Payer"|trans }}</a></li>#}
        </div>
        <div class="col-xs-3 pull-left">
            <dl class="pull-left">
                <dt><h4>{{ "Adresse personnel"|trans }}</h4></dt>
                <dt>{{ commande.commande.livraison.prenom }} {{ commande.commande.livraison.nom }}</dt>
                <dt>{{ commande.commande.livraison.adresse }}</dt>
                <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }}
                    - {{ commande.commande.livraison.pays }}</dt>
            </dl>
        </div>

        <div class="col-xs-3 pull-left">
            <dl class="pull-left">
                <dt><h4>{{ "Adresse de facturation"|trans }}</h4></dt>
                <dt>{{ commande.commande.facturation.prenom }} {{ commande.commande.facturation.nom }}</dt>
                <dt>{{ commande.commande.facturation.adresse }}</dt>
                <dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville }} </dt>
                <dt>{{ commande.commande.facturation.pays }}</dt>
                {% if commande.commande.facturation.vatnumber is defined and commande.commande.facturation.vatnumber|length != 0 %}<dt>N° TVA Intra-C: {{ commande.commande.facturation.vatnumber }}</dt>{% endif %}
            </dl>
        </div>
        <a href="{{ path('livraison_panier') }}" class="btn btn-primary">{{ "retour"|trans }}</a>

    </div>
    {# End of cart #}
</div>
    {##}
    {##}
    {##}
{#<div class="span3">#}
{#<div class="well">#}
    {#<ul class="nav nav-list">#}
        {#<li class="nav-header">Nos produits</li>#}
        {#{% render(controller('AppBundle:Categorie:menu')) %}#}
    {#</ul>#}
{#</div>#}
{#</div>#}

{#<div class="span9">#}

{#<h2>Valider mon panier</h2>#}
{#{% if commande.commande.salle is defined %}#}
{#<table class="table table-striped table-hover">#}
    {#<thead>#}
    {#<tr>#}
        {#<th>Salle choisi</th>#}
        {#<th>Nombre d'heures</th>#}
        {#<th>Prix à l'heure TTC</th>#}
        {#<th>Prix salle HT</th>#}
        {#<th>Total TTC</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}

    {#{% for salle in commande.commande.salle %}#}
            {#<tr>#}
                {#<td>{{ salle.reference }}</td>#}
                {#<td>#}
                    {#{{ "Le " ~ salle.date|date('d/m/Y') ~ " De " ~ salle.heureDebut|date('H:i') ~ ' à '~ salle.heureFin|date('H:i') ~ " Temps :" ~ salle.heures ~ "H" ~ salle.minutes|default('') }}#}
                {#</td>#}
                {#<td>{{ salle.prixHT }} €</td>#}
                {#<td>{{ salle.prixSalleHT }} €</td>#}
                {#<td>{{ salle.prixTTC }} €</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
{#</table>#}
{#{% endif %}#}

{#{% if commande.commande.place is defined %}#}
    {#<table class="table table-striped table-hover">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>Place choisi</th>#}
            {#<th>Nombre d'heures</th>#}
            {#<th>Prix à l'heure TTC</th>#}
            {#<th>Prix place HT</th>#}
            {#<th>Total TTC</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}

        {#{%  for place in commande.commande.place %}#}
            {#<tr>#}
                {#<td>{{ place.reference }}</td>#}
                {#<td>#}
                    {#{{ "Le " ~ place.date|date('d/m/Y') ~ " De " ~ place.heureDebut|date('H:i') ~ ' à ' ~ place.heureFin|date('H:i') ~ " Temps: " ~ place.heures  ~ "H" ~ place.minutes|default('') }}#}
                {#</td>#}
                {#<td>{{ place.prixHT }} €</td>#}
                {#<td>{{ place.prixPlaceHT }} €</td>#}
                {#<td>{{ place.prixTTC }} €</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
{#{% endif %}#}

{#{% if commande.commande.produit is defined %}#}
{#<table class="table table-striped table-hover">#}
    {#<thead>#}
        {#<tr>#}
            {#<th>Références</th>#}
            {#<th>Quantité</th>#}
            {#<th>Prix unitaire</th>#}
            {#<th>Total HT</th>#}
            {#<th>Total TTC</th>#}
        {#</tr>#}
    {#</thead>#}
    {#<tbody>#}

        {#{% for produit in commande.commande.produit %}#}
        {#<tr>#}
            {#<td>{{ produit.reference }}</td>#}
            {#<td>{{ produit.quantite }}</td>#}
            {#<td>{{ produit.prixHT }} €</td>#}
            {#<td>{{ produit.prixHT * produit.quantite }} €</td>#}
            {#<td>{{ produit.prixTTC * produit.quantite }}</td>#}
        {#</tr>#}
        {#{% endfor %}#}
    {#</tbody>#}
{#</table>#}
{#{% endif %}#}
{#{% set totalReduc = 0 %}#}
{#<dl class="dl-horizontal pull-right">#}

    {#{% if commande.commande.produit is defined and commande.commande.produit|length != 0 %}#}
        {#<dt>Total Produits HT :</dt><dd>{{ commande.commande.prixHT  }}€</dd>#}
    {#{% endif %}#}
    {#{% if commande.commande.produit is defined %}#}
        {#{% for key, tva in commande.commande.tva %}#}
        {#<dt>TVA {{ key }} :</dt><dd>{{ tva }} €</dd>#}
        {#{% endfor %}#}

    {#{% endif %}#}
    {#{% if commande.commande.salle is defined %}#}
        {#<dt>Total Salle TTC :</dt><dd>{{ commande.commande.prixSalleTTC  }}€</dd>#}
        {#{% for key, tva in commande.commande.tvaSalle %}#}
        {#<dt>dont {{ key }} TVA Salle:</dt><dd>{{ tva }} €</dd>#}
        {#{% endfor %}#}
    {#{% endif %}#}
    {#{% if commande.commande.place is defined %}#}
        {#<dt>Total Place TTC :</dt><dd>{{ commande.commande.prixPlaceTTC  }}€</dd>#}
        {#{% for key, tva in commande.commande.tvaPlace %}#}
            {#<dt>dont {{ key }} TVA Place:</dt><dd>{{ tva }} €</dd>#}
        {#{% endfor %}#}
    {#{% endif %}#}
    {#{% if commande.commande.thirdHourFree is defined and commande.commande.thirdHourFree > 0 %}#}
        {#<dt class="reduction-3h">Réduction 3ème heure:</dt><dd class="reduction-10">{{ commande.commande.thirdHourFree }} €</dd>#}
    {#{% endif %}#}
    {#{% if commande.commande.produit is defined and ( commande.commande.salle is defined or commande.commande.place is defined ) %}#}

        {#<dt>Sous-Total TTC :</dt><dd>{{ commande.commande.prixTTC|default('') + commande.commande.prixSalleTTC|default('') + commande.commande.prixPlaceTTC|default('') }} €</dd>#}
        {#<dt class="reduction-10">Réduction -10% :</dt><dd class="reduction-10">-{{ commande.commande.reduction10 }} €</dd>#}
        {#<dt>Montant Total TTC :</dt><dd>{{ ((commande.commande.totalTTC)  - ((commande.commande.totalTTC) * 0.1))|number_format(2, '.', ',') }} €</dd>#}
    {#{% endif %}#}
    {#{% if commande.commande.VATtotalTVA is defined %}#}
        {#<dt class="reduction-TVA">Non assujetti à la tva:</dt><dd class="reduction-10">-{{ commande.commande.VATtotalTVA }} €</dd>#}
    {#{% endif %}#}
    {#<dt class="montant-total">Montant Total TTC :</dt><dd class="montant-total">{{ commande.commande.totalTTC }} €</dd>#}
{#</dl>#}

{#<div class="span3 pull-left">#}
    {#<dl class="pull-left">#}
        {#<dt><h4>Adresse personnel</h4></dt>#}
        {#<dt>{{ commande.commande.livraison.prenom }} {{ commande.commande.livraison.nom }}</dt>#}
        {#<dt>{{ commande.commande.livraison.adresse }}</dt>#}
        {#<dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }}#}
            {#- {{ commande.commande.livraison.pays }}</dt>#}
    {#</dl>#}
{#</div>#}

{#<div class="span4 pull-left">#}
    {#<dl class="pull-left">#}
        {#<dt><h4>Adresse de facturation</h4></dt>#}
        {#<dt>{{ commande.commande.facturation.prenom }} {{ commande.commande.facturation.nom }}</dt>#}
        {#<dt>{{ commande.commande.facturation.adresse }}</dt>#}
        {#<dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville }} </dt>#}
        {#<dt>{{ commande.commande.facturation.pays }}</dt>#}
        {#{% if commande.commande.facturation.vatnumber is defined and commande.commande.facturation.vatnumber|length != 0 %}<dt>N° TVA Intra-C: {{ commande.commande.facturation.vatnumber }}</dt>{% endif %}#}
    {#</dl>#}
{#</div>#}

{#<div class="clearfix"></div>#}

{#<form id="ajaxPayment" action="{{ path('ajax_paiement_commande', { 'id' : commande.idcommande }) }}" method="POST"/>#}
    {#<input class="token" name="token" type="hidden" value="{{ commande.commande.token }}" />#}
    {#<input class="prix" name="prix" type="hidden" value="{{ commande.commande.prixTTC }}" />#}
    {#<input class="totalTTC" name="totalTTC" type="hidden" value="{{ commande.commande.totalTTC }}" />#}
    {#<input class="date" name="date" type="hidden" value="{{ commande.datecommande|date('dmyhms') }}" />#}
    {#<input class="idcommande" name="idcommande" type="hidden" value="{{ commande.idcommande  }}" />#}
    {#<button type="submit" id="submitPayment" class="btn btn-success pull-right" form="ajaxPayment">Payer</button>#}
{#</form>#}

{#<button class="btn btn-primary retourAdresses">retour</button>#}
{#</div>#}

