{% set totalProduitHT = 0 %}
{% set totalProduitTTC =  0 %}
{% set totalSalleTTC = 0 %}
{% set refTva = {} %}
{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}

{% block body %}
<div class="container">
    <div class="row">
        
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Nos produits</li>
                    {#{{   render(controller('AppBundle:TypeDeProduit:menu')) }}#}
                </ul>
            </div>
        </div>
        
        <div class="span9">
            
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            
            <h2>Votre panier</h2>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Salle choisi</th>
                    <th>Nombre d'heures</th>
                    <th>Prix à l'heure</th>
                    <th>Total TTC</th>
                </tr>
                </thead>
                <tbody>
                {% if salles|length == 0 %}
                    <tr>
                        <td colspan="4"><center>Aucune salle sélectionner dans votre panier</center></td>
                    </tr>
                {% endif %}
                {# @var salle \AppBundle\Entity\Salle #}
                {%  for salle in salles %}
                    <tr>
                        <form action="{{ path('ajout_panier_salle', { 'id' : salle.idsalle }) }}" method="get">
                            <td>{{ salle.nomsalle }}</td>
                            <td>
                                <select name="heure" class="span1" onChange="this.form.submit()">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if i == panier_salle[salle.idsalle] %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>&nbsp;
                                <a href="{{ path('delete_panier_salle', { 'id' : salle.idsalle }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                            <td>{{ salle.capacitymax * 5}} €</td>
                            <td>{{ salle.capacitymax * 5 * panier_salle[salle.idsalle] }} €</td>
                        </form>
                    </tr>
                    {#{% set totalSalleTTC = totaSalleTTC + (produit.prixproduit * panier[produit.idproduit])|tva(produit.tva.multiplicate) %}#}
                    {% set totalSalleTTC =  totalSalleTTC +  salle.capacitymax * 5 * panier_salle[salle.idsalle]  %}
                {%  endfor %}
                </tbody>
            </table>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Références</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                    </tr>
                </thead>
                <tbody>

                    {% if produits|length == 0 %}
                        <tr>
                            <td colspan="4"><center>Aucun articles dans votre panier</center></td>
                        </tr>
                    {% endif %}



                    {% for produit in produits %}
                        <tr>
                            <form action="{{ path('ajout_panier', { 'id' : produit.idproduit }) }}" method="get">
                                <td>{{ produit.nomproduit }}</td>
                                <td>
                                    <select name="qte" class="span1" onChange="this.form.submit()">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i == panier[produit.idproduit] %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <a href="{{ path('delete_panier', { 'id' : produit.idproduit }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                                <td>{{ produit.prixproduit }} €</td>
                                <td>{{ produit.prixproduit * panier[produit.idproduit] }} €</td>
                            </form>
                        </tr>
                        {% set totalProduitHT = totalProduitHT + (produit.prixproduit * panier[produit.idproduit]) %}
                        {% set totalProduitTTC = totalProduitTTC + (produit.prixproduit * panier[produit.idproduit])|tva(produit.tva.multiplicate) %}
                        {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + ( produit.prixproduit * panier[produit.idproduit])|montantTva(produit.tva.multiplicate) }) %}
                    {% endfor %}
                </tbody>
            </table>
            {% if produits|length != 0 or salles|length != 0 %}
            <dl class="dl-horizontal pull-right">
                <dt>Total HT :</dt><dd>{{ totalProduitHT }} €</dd>

                {% for key, tva in refTva %}
                    <dt>TVA {{ key }} :</dt><dd>{{ tva }} €</dd>
                {% endfor %}

                <dt>Total TTC :</dt><dd>{{ totalProduitTTC + totalSalleTTC }} €</dd>
            </dl>
            <div class="clearfix"></div>
            <a href="{{ path('livraison_panier') }}" class="btn btn-success pull-right">Valider mon panier</a>
            {% endif %}
            {% if salles|length == 0 %}
            <a href="{{ path('salle_index') }}" class="btn btn-primary">Choisissez une salle</a>
            {% else %}
             <a href="{{ path('produits_index') }}" class="btn btn-primary">Choisir mes produits</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}