{% extends "::base.html.twig" %}

{% block title %}
    <title>GustoCoffee - Votre Panier</title>
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block firstImg %}
    topPage topPanier
{% endblock %}


{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">{{ "Vos adresses de facturations"|trans }}</h1>
        <h3 class="colorWhite"> <i>{{ "Vous êtes un professionnel ? Ajoutez votre n°TVA Intracommunautaire."|trans }}</i><br>
            <i>{{ "Et bénéficier de la facturation sans TVA"|trans }} !</i>
            </h3>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <button class="buttonGC greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
            {{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
        </button>
    {% endif %}
    <button type="submit" class="buttonGC blueButton" form="valid-adresse">{{ "Cliquez ici pour valider rapidement"|trans }}</button>

{% endblock %}

{% block firstBlock %}
<div class="container">
    <div class="row addPadding">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="panel-group col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" href="#collapseOne">Adresse et informations personnelles</a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="">
                        <div class="panel-body">
                            <div class="col-md-12">
                                {% if utilisateur.adresses|length != 0 %}
                                <form id="valid-adresse" action="{{ path('validation_panier') }}" method="POST">

                                    <h3>Adresse personnelle</h3>
                                    {% for adresse in utilisateur.adresses %}
                                        <label class="radio">
                                            <input type="radio" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                            {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('delete_adresse_panier', { 'id' : adresse.id }) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                                            <br>{{ adresse.prenom }} {{ adresse.nom }}
                                        </label>
                                    {% endfor %}

                                    <br><br>

                                    <h3>Adresse de facturation</h3>
                                    {% for adresse in utilisateur.adresses %}
                                        <label class="radio">
                                            <input type="radio" name="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %}>
                                            {{ adresse.adresse }}, {{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('delete_adresse_panier', { 'id' : adresse.id }) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                                            <br />{{ adresse.prenom }} {{ adresse.nom }}
                                            {{ adresse.vatnumber }}
                                        </label>
                                    {% endfor %}

                                    <br>

                                </form>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary" form="valid-adresse">Valider mes adresses</button>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <button class="btn btn-info" data-toggle="collapse" data-target="#addNewAdresse">Ajouter une nouvelle adresse</button>
                <form id="addNewAdresse" class="collapse" action="{{ path('livraison_panier') }}" method="POST">
                    {{ form_widget(form) }}
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}