{% for produit in produits %}
    <div class="col-md-6 col-xs-12 col-sm-6 col-lg-4 cardSalle">
        <div class="thumbnail">
            <a href="{{ path('produit_show', { 'idproduit': produit.idproduit }) }}"><img class="group list-group-image" src="{{ asset('uploads/images/products/'~ produit.image) }}" alt="Salle privatisée"></a>
            <div class="caption">
                <h4 class="group inner list-group-item-heading centerText">
                    {{ produit.nomproduit }}
                </h4>
                <p class="group inner list-group-item-text centerText">
                    {{ produit.description }}
                </p>
                <p class="centerText">
                    Prix du service : {{ produit.prixproduit|tva(produit.tva.multiplicate) }}€
                </p>
                <p class="group inner list-group-item-text centerText">
                    <button type="button" class="btn btn-success buttonAddProductPanier" value="{{ produit.idproduit }}" >Ajouter au panier</button>
                </p>
                <div class="row">
                    {#Quantité <span>#}
                                {#<select name="selectQuantite" id="qte{{ produit.idproduit }}" onchange="ajaxAjoutProduiPanier()">#}
                                    {#{% for salle in salles | slice(0,1) %}#}
                                        {#{% if salle.capacitymax == 4 %}#}
                                            {#<option value="0">0</option>#}
                                            {#<option selected value="1">1</option>#}
                                            {#<option value="2">2</option>#}
                                            {#<option value="3">3</option>#}
                                            {#<option value="4">4</option>#}
                                        {#{% endif %}#}
                                        {#{% if salle.capacitymax == 6 %}#}
                                        {#<option value="0">0</option>#}
                                        {#<option selected value="1">1</option>#}
                                        {#<option value="2">2</option>#}
                                        {#<option value="3">3</option>#}
                                        {#<option value="4">4</option>#}
                                        {#<option value="5">5</option>#}
                                        {#<option value="6">6</option>#}
                                    {#{% endif %}#}
                                    {#{% endfor %}#}
                                {#</select>#}
                            {#</span>#}
                {#</p>#}
                </div>
            </div>
        </div>
    </div>
{% endfor %}