{% extends 'base.html.twig' %}

{% block title %}
    <title>GustoCoffee Réservation</title>
{% endblock %}

{% block firstImg %}
    topPage topPageReservation
{% endblock %}

{% block paddingTitle %}
     paddingTitle
{% endblock %}

{% block titleHome %}
     Réservation CoWorking
{% endblock %}

{% block firstBlock %}
    <div class="row">
        <div class="col-md-3">
            <div class="col-xs-12">
                {# Choix de la date #}
                <div id="room-search-form">
                    <div id="reservation-date-picker" class="form-group">
                        <label>{{ "Résumé de votre commande"|trans }}</label>
                        <div class="test">
                           <h3> {{ "Montant à payer :"|trans }}
                                {% set total = 0 %}
                                {% for produit in produits %}
                                    {% set total = total + (produit.prixproduit * 1) %}
                                {% endfor %}

                                {{ total }}€
                           </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <button class="btn btn-block btn-primary buttonSearch">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{  "Commander"|trans }}
                </button>
            </div>
        </div>
        <div class="col-md-9">
        {% for produit in produits %}
            <div class="col-md-3 cardSalle">
                <div class="thumbnail">
                   <img class="group list-group-image" src="/uploads/images/salles/groupPlace.jpg" alt="Salle privatisée"></a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <p>{{ produit.nomproduit }}</p>
                        </h4>
                        <p class="group inner list-group-item-text">
                            {{ produit.description }}
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="{{ produit.idproduit }}" class="lead&quot;">Prix du service : {{ produit.prixproduit }}€</p>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <select name="selectQuantite" id="{{ produit.idproduit }}">
                                    {% for salle in salles | slice(0,1) %}
                                        {% if salle.capacitymax == 4 %}
                                        <option value="0">0</option>
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        {% endif %}
                                        {% if salle.capacitymax == 6 %}
                                            <option value="0">0</option>
                                            <option selected value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{#
{% block secondBlock %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th>Nom du service</th>
                    <th>Prix du service</th>
                    <th>Description</th>
                    <th>Quantité</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in produits %}
                    <tr>
                        <td><a href="{{ path('produit_show', { 'idproduit': produit.idproduit }) }}">{{ produit.nomproduit }}</a></td>
                        <td>{{ produit.prixproduit }}</td>
                        <td>{{ produit.description }}</td>
                        <td>
                            #}
{# <a href="{{ path('produit_show', { 'idproduit': produit.idproduit }) }}">test</a>#}{#

                            #}
{#{{ form_widget(form.quantite, {'idproduit': produit.idproduit}) }}#}{#

                            {{ form_widget(form.quantite, {'id':  produit.idproduit })}}
                            #}
{#  <select name="selectQuantite" id="{{ produit.idproduit }}"></select>#}{#

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Prix : </h4>
            <div class="form-connexion">
                <input class="buttonInscription centerText" type="submit" value="Commander">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    {
{% endblock %}#}
