{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Nomproduit</th>
                <td>{{ produit.nomproduit }}</td>
            </tr>
            <tr>
                <th>Prixproduit</th>
                <td>{{ produit.prixproduit }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Quantiteenstock</th>
                <td>{{ produit.quantiteenstock }}</td>
            </tr>
            <tr>
                <th>Statutproduit</th>
                <td>{{ produit.statutproduit }}</td>
            </tr>
            <tr>
                <th>Idproduit</th>
                <td>{{ produit.idproduit }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>
        {#<li>#}
            {#<a href="{{ path('produit_edit', { 'idproduit': produit.idproduit }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
