{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block title %}
    <title>{{ 'GustoCoffee - Login'|trans }}</title>
{% endblock %}

{% block firstImg %}
    topPage topPageLogin
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Espace Client - Connexion</h1>
        <h3 class="colorWhite"> <i>Rejoignez notre communauté ! </i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez ici'|trans }}
    </button>
{% endblock %}

{% block hwi_oauth_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    {% for owner in hwi_oauth_resource_owners() %}
    <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
    {% endfor %}
{% endblock hwi_oauth_content %}
