{% extends 'base.html.twig' %}

{% block title %}
    {{ 'GustoCoffee - FAQ' }}
{% endblock %}

{% block firstImg %}
    topPage topPageContact
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{%  endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Foire Aux Questions</h1>
        <h3 class="colorWhite"> <i>Des questions ? </i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <button class="buttonGC greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
            {{ 'Inscrivez-vous dès maintenant !'|trans }}
        </button>
    {% endif %}
{% endblock %}

{% block firstBlock %}

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel-group" id="accordion">
            <div class="faqHeader">{{ 'Questions Générales' | trans }}</div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ 'Qu\'est ce que le Co-Working ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {{ 'Le coworking, cotravail ou parfois bureaux partagés est un type d\'organisation du travail qui regroupe deux notions : un espace de travail partagé, mais aussi un réseau de travailleurs encourageant l\'échange et l\'ouverture. Il est un des domaines de l\'économie collaborative.' | trans}}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{{ 'Qui peut venir travailler chez GustoCoffee ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'Tout le monde ! Que vous venez en entreprise, en freelance, en groupe ou en tant qu\'étudiant, GustoCoffee accueille absolument tout le monde. Le but étant aussi de vous faire changer d\'environnement de travail.' | trans}}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{{ 'Faut-il obligatoirement un compte ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'Chez GustoCoffee, le compte n\'est pas obligatoire. Vous pouvez réserver sans compte. Cependant, nous vous conseillons de vous créer un compte afin d\'obtenir des points et avoir une réduction.' | trans}}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{{ 'Quels sont les tarifs ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'La première heure vous coûte 5 euros. Ensuite, vous paierez 2€ par demi heure. Nous vous offrons la 3 heure. Au delà  de 5 heures, la facture sera fixée à 20 euros. Ces tarifs s\'appliquent à l\'Open Space ainsi qu\'aux salles privées.' | trans }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">{{ 'Comment se fait la transaction ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'La transaction se fait par Paypal.' | trans }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">{{ 'Quand êtes vous ouvert ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'Nous sommes ouverts tous les jours de 7h à 22h. Cependant, les salles sont accessibles de 9h à 21h.' | trans }}
                    </div>
                </div>
            </div>

            <div class="faqHeader">{{ 'Questions sur les salles' | trans }}</div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">{{ 'Je suis tout seul, puis-je réserver une salle privée ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'Oui, il est possible. Cependant, vous allez tout de même devoir payer le nombre de places que contient la salle.' | trans }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">{{ 'Quelle est la différence entre l\'Open Space et les salles privées ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'La différence se fait au niveau des services. Dans une salle privée, vous avez le droit à un petit-déjeuner, déjeuner, dîner et à des services bureautiques. Le tarif reste le même que celui de l\'Open Space. Seuls les différents services s\'ajoutent au paiement.' | trans }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">{{ 'Combien de salles dispose GustoCoffee ?' | trans }}</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ 'GustoCoffee dispose de 5 salles de 4 places ainsi que de 5 salle de 6 places. Soit 50 places privées.' | trans }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="clearThirty"></div>
{% endblock %}