{% extends 'base.html.twig' %}

{% block firstImg %}
    style='background-image: url({{ asset('img/connexion.jpg') }});'>
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Espace Client - Connexion</h1>
        <h3 class="colorWhite"> <i>Identifiez-vous !</i></h3>
    </div>
    <button class="buttonInscription greenButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
    <button class="buttonInscription greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
        {{ 'Inscrivez-vous dès maintenant !'|trans }}
    </button>
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="titlePara">Se Connecter</h2>
        </div>
        <div class="col-md-5">
            <button class="loginBtn loginBtn--facebook">
                Login with Facebook
            </button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <button class="loginBtn loginBtn--google">
                Login with Google
            </button>
        </div>
    </div>
{% endblock %}

{% block secondBlock %}
<div class="row addPadding">
    <div class="col-md-12">
        <h2 class="titlePara">OU</h2>
    </div>
</div>
    {#{{ form_start(form) }}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-12 form-connexion">
                        {{ form_errors(form.indentifiant) }}
                        {{ form_widget(form.indentifiant) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 form-connexion">
                        {{ form_errors(form.motdepasse) }}
                        {{ form_widget(form.motdepasse) }}
                    </div>
                </div>
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-4"></div>
        <div class="col-md-4 mdpOublie">Mot de passe oublié</div>
        <div class="col-md-4"></div>
    </div>#}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}

    {#<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-12 form-connexion">
                    {{ form_widget(form.Valider) }}
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 sinscrire">Pas encore inscrit ? <a href="{{ path('gc_inscription_page') }}">S'inscrire</a> </div>
        <div class="col-md-4"></div>
    </div>#}

{% endblock %}

{% block thirdBlock %}
{% endblock %}