{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Datecommande</th>
                <th>Idcommande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'idcommande': commande.idcommande }) }}">{{ commande.datecommande }}</a></td>
                <td>{{ commande.idcommande }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'idcommande': commande.idcommande }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_edit', { 'idcommande': commande.idcommande }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
