{% extends 'base.html.twig' %}

{% block title %}
    GustoCoffee - {{ "Changez votre mot de passe"|trans }}
{% endblock %}

{% block firstImg %}
topPage topPageLogin
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">{{ "Espace Client"|trans }}</h1>
        <h3 class="colorWhite"> <i>{{ "Changez votre mot de passe"|trans }}</i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
{% endblock %}

{% block thirdBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">{{ "Inscription"|trans }}</h2>
        </div>
    </div>
    {{  form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-connexion">
            {{ form_label(form.current_password, 'Mot de passe actuel') }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password, { 'attr': {'placeholder': ' Mot de passe actuel', 'style':'width: 100%;' } }) }}

        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-connexion">
            {{ form_label(form.plainPassword.first, 'Nouveau mot de passe') }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': ' Nouveau mot de passe', 'style':'width: 100%;' } }) }}
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-connexion">
            {{ form_label(form.plainPassword.second, 'Confirmer nouveau mot de passe') }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': ' Confirmer nouveau mot de passe', 'style':'width: 100%;' } }) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-connexion">
            <input class="buttonGC brownButton" type="submit" value="{{ 'Enregistrer les modifications'|trans }}" />
        </div>
        <div class="col-md-3"></div>
    </div>

    {{ form_end(form) }}

    <div class="clear"></div>

{% endblock %}
