{% extends 'base.html.twig' %}

{% block firstImg %}
    style='background-image: url({{ asset('img/backEvenement2.jpg') }});'>
{% endblock %}

{% block firstTitle %}
    <h1 class="titleHome">Evénement CoWorking</h1>
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-9">
            <h2 class="titlePara">{{ 'Ouverture du nouveau café coworking'|trans }} </h2>
            <p class="textDescription">{% trans %}Récemment, GustoCoffee a organisé un grand événement afin de fêter l'ouverture du <strong>Coffe-Shop CoWorking !!</strong><br>
                Au programme, musique, danse, visite et consommation à volonté ! <br>
                Ce fut l'occasion pour <strong>GustoCoffee</strong> de se faire connaître auprès de <strong>grandes sociétes comme la Société Générale</strong> souhaitant travailler dans un cadre plus détendu mais aussi pour les étudiants
                en quête d'un environnement calme.
                {% endtrans %}
            </p>
        </div>
        <div class="col-md-3 ouverture">
            <img alt="GustoCoffee" src="{{ asset('img/evenement.jpg') }}">
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block secondBlock %}
    <div class="row addPadding">
        <div class="col-md-9 textDescription">
            <p>{% trans %}
                <strong>GustoCoffee</strong> a décidé d'instaurer une soirée chaque année pour fêter l'anniversaire du "<strong>Coffee-shop Coworking</strong>" situé près de <strong>Gare du Nord</strong><br>
            C'est pourquoi, nous vous invitons tous les 21 Octobre à venir chez <strong>GustoCoffee</strong> afin de <strong>consommer à volonté, gratuitement</strong> et à vous
                familiariser avec l'espace que nous vous proposons.
                {% endtrans %}
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block thirdBlock %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="titleMedia">{{ 'Ils ont parlé de GustoCoffee'|trans }}</h2>
        </div>
        <div class="col-md-12 listMedia">

            <a target="_blank" class="imgMedia" href="https://www.tf1.fr/"><img alt="TF1" src="{{ asset('media/tf1.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.leparisien.fr/"><img alt="Le Parisien" src="{{ asset('media/parisien.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="https://www.rtl.fr/"><img alt="RTL" src="{{ asset('media/rtl.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.la-croix.com"><img alt="La Croix" src="{{ asset('media/la-croix.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="https://www.freshr.fr/"><img alt="Freshr" src="{{ asset('media/freshr.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.francetelevisions.fr/"><img alt="France Télévisions" src="{{ asset('media/francetelevisions.jpg') }}"/></a>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
