{% extends 'base.html.twig' %}

{% block title %}
    {{ 'GustoCoffee - Évènements'|trans }}
{% endblock %}

{% block firstImg %}
    topPage topPageEvenement
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{%  endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">{{ "Nos évènements"|trans }}</h1>
        <h3 class="colorWhite"> <i>{{ "Si on se rencontrait"|trans }} ?</i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <button class="buttonGC greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
            {{ 'Inscrivez-vous dès maintenant !'|trans }}
        </button>
    {% endif %}
{% endblock %}

{% block firstBlock %}
    <div class="row ">
        <div class="col-md-6 home-img h-550" style="background-image: url('{{ asset('img/evenement.jpg') }}'); background-size: cover; background-position:top;">
        </div>
        <div class="col-md-6 hp-45 pt-20">
            <h2 class="homepageTitle centerText">{{ 'Ouverture du nouveau café coworking'|trans }}</h2>
            <p class="textDescription">
                {% trans %}Récemment, GustoCoffee a organisé un grand évènement afin de fêter l'ouverture du Coffee-Shop CoWorking ! Au programme, musique, danse, visite et consommation à volonté ! Ce fut l'occasion pour GustoCoffee de se faire connaître auprès de grandes sociétes comme la Société Générale souhaitant travailler dans un cadre plus détendu mais aussi pour les étudiants en quête d'un environnement calme.{% endtrans %}
        </div>
    </div>
{% endblock %}

{% block secondBlock %}
    <div class="row">
        <div class="col-md-6 hp-45 pt-20">
            <h2 class="homepageTitle  centerText">{{ 'À propos'|trans }}</h2>
            <p class="textDescription">
                {% trans %}GustoCoffee a décidé d'instaurer une soirée chaque année pour fêter l'anniversaire du "Coffee-shop Coworking" situé près de Gare du Nord. C'est pourquoi, nous vous invitons tous les 21 Octobre à venir chez GustoCoffee afin de consommer à volonté, gratuitement et à vous familiariser avec l'espace que nous vous proposons.{% endtrans %}
            </p>
        </div>
        <div class="col-md-6 home-img h-250" style="background-image: url('{{ asset('img/worktogether.jpg') }}'); background-size: cover;">
        </div>
    </div>
{% endblock %}


{% block thirdBlock %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="titleMedia">{{ 'Ils ont parlé de GustoCoffee'|trans }}</h2>
        </div>
        <div class="col-md-12 listMedia">
            <a target="_blank" class="imgMedia" href="https://www.tf1.fr/"><img alt="TF1" title="TF1" src="{{ asset('img/media/tf1.jpg')|imagine_filter('miniature_media') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.leparisien.fr/"><img alt="Le Parisien" title="Le Parisien" src="{{ asset('img/media/parisien.jpg')|imagine_filter('miniature_media') }}"/></a>

            <a target="_blank" class="imgMedia" href="https://www.rtl.fr/"><img alt="RTL" title="RTL" src="{{ asset('img/media/rtl.jpg')|imagine_filter('miniature_media') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.la-croix.com"><img alt="La Croix" title="La Croix" src="{{ asset('img/media/la-croix.jpg')|imagine_filter('miniature_media') }}"/></a>

            <a target="_blank" class="imgMedia" href="https://www.freshr.fr/"><img alt="Freshr" title="Freshr" src="{{ asset('img/media/freshr.jpg')|imagine_filter('miniature_media') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.francetelevisions.fr/"><img alt="France Télévisions" src="{{ asset('img/media/francetelevisions.jpg')|imagine_filter('miniature_media') }}"/></a>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
