{% extends 'base.html.twig' %}

{% block firstImg %}
    style='background-image: url({{ asset('img/backEvenement2.jpg') }});'>
{% endblock %}

{% block firstTitle %}
    <h2 class="titleHome">Evénement CoWorking</h2>
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-7">
            <h2 class="titlePara">Ouverture !!! =D</h2>
            <p class="textDescription">Récemment, GustoCoffee a organisé un grand événement afin de fêter l'ouverture du <strong>Coffe-Shop CoWorking !!</strong><br>
                Au programme, musique, danse, visite et consommation à volonté !
            </p>
        </div>
        <div class="col-md-3 ouverture">
            <img alt="GustoCoffee" src="{{ asset('img/evenement.jpg') }}">
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block secondBlock %}
    <div class="row">
        <div class="col-md-10">
            <p><strong>TODO : JE SAIS PAS QUOI DIRE</strong></p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block thirdBlock %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="titleMedia">Ils ont parlé de GustoCoffee</h2>
        </div>
        <div class="col-md-12 listMedia">

            <a target="_blank" class="imgMedia" href="https://www.tf1.fr/"><img alt="TF1" src="{{ asset('media/tf1.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.leparisien.fr/"><img alt="Le Parisien" src="{{ asset('media/parisien.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="https://www.rtl.fr/"><img alt="RTL" src="{{ asset('media/rtl.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.la-croix.com"><img alt="La Croix" src="{{ asset('media/la-croix.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="https://www.freshr.fr/"><img alt="Freshr" src="{{ asset('media/freshr.jpg') }}"/></a>

            <a target="_blank" class="imgMedia" href="http://www.francetelevisions.fr/"><img alt="France Télévisions" src="{{ asset('media/francetelevisions.jpg') }}"/></a>

        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
