{% extends 'base.html.twig' %}

{% block title %}
    <title>GustoCoffee - Réservation de Places</title>
{% endblock %}

{% block firstImg %}
    topPage topPageReservation
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">{{"Espace Réservation"|trans}} - Place individuelle</h1>
        <h3 class="colorWhite"> <i>{{"Et si on tentait l'expérience"|trans}} ? </i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('salle_index') }}'">
        {{ 'Salle privée'|trans }}
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
    <button class="buttonGC blueButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
        {{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
    </button>
    {% endif %}
{% endblock %}

{% block firstBlock %}

<div class="row">
    <div class="col-md-3" id="" role="navigation">
        <div class="row recherche-horaire">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                {# Choix de la date #}
                <form id="room-search-form">
                    <div id="reservation-date-picker" class="form-group">
                        <h4 class="chooseDatePicker"> {{ "Choisir votre date"|trans }} </h4>
                        <input id="datepicker" type="text" name="reservation-date" value="{{ 'now'|date('d/m/Y', "Europe/Paris") }}">
                        <input type="hidden" id="datepicker-altFormat" name="begin_date" value="{{ 'now'|date('Y-m-d', "Europe/Paris") }}"/>
                    </div>
                </form>

                <button class="btn btn-block btn-primary buttonSearchPlace">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{ "Rechercher"|trans }}
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="row panier-menu hidden-xs hidden-sm">
            {{ render(controller('AppBundle:Panier:ajaxPanier')) }}
        </div>
    </div>

    <div class="col-md-9 reservation-result-container">
        <div class="row tunnel-achat">
            {% embed ":reservation:tunnel-place-breadcrumb.html.twig" %}

            {% endembed %}
        </div>
        <div class="row reservation-select-creneau">
            <div id="time-range">
                <h3>{{ 'Créneau horaire'|trans }}: <span class="slider-time">{{ minHeure }}</span>H - <span class="slider-time2">{{ maxHeure }}</span>H</h3>
                <div id="slider-range">
                    <input class="heureActuelleDefaut" type="hidden" value="{{ 'now'|date('H:i:Y-m-d', "Europe/Paris") }}">
                    <input class="minHeure" type="hidden" value="{{ minHeure }}">
                    <input class="maxHeure" type="hidden" value="{{ maxHeure }}">
                </div>
            </div>
        </div>

        <div class="row" id="display-ajax-content">
            {# On appelle le template salleDisponible en embed #}
            <div id="display-salle" class="">
                {% embed ":place:placesDisponible.html.twig" %}

                {% endembed %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
