{% extends 'base.html.twig' %}

{% block title %}
    <title>GustoCoffee Réservation Places</title>
{% endblock %}

{% block firstImg %}
    topPage topPageReservation
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    Réservation CoWorking
{% endblock %}

{% block firstBlock %}
<div id="carte-places-individuelles">
    <div class="wrapper">
        <div class="container">
            <h1>Carte interactives des places individuelles</h1>
            <div id="seat-map">
                <div class="front-indicator">Salle OpenSpace</div>
            </div>
            <div class="booking-details">
                <h2>Détail Réservation</h2>
                <h3>Place selectionné (<span id="counter">0</span>):</h3>
                <ul id="selected-seats">
                </ul>
                Total: <b>€<span id="total">0</span></b>
                <button class="checkout-button">Valider &raquo;</button>
                <div id="legend"></div>
            </div>
        </div>
    </div>
</div>

    <table>
        <thead>
            <tr>
                <th>Nomplace</th>
                <th>Statutplace</th>
                <th>Idplace</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td><a href="{{ path('place_show', { 'idplace': place.idplace }) }}">{{ place.nomplace }}</a></td>
                <td>{{ place.statutplace }}</td>
                <td>{{ place.idplace }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('place_show', { 'idplace': place.idplace }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('place_edit', { 'idplace': place.idplace }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_new') }}">Create a new place</a>
        </li>
    </ul>

{% endblock %}
