{% extends 'base.html.twig' %}

{% block title %}
    {{ 'GustoCoffee - Dashboard'|trans }}
{% endblock %}

{% block firstImg %}
topPage topPageDashboard
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Dashboard</h1>
        <h3 class="colorWhite"> <i>Retrouvez toutes vos informations ici ! </i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
{% endblock %}

{% block firstBlock %}
    {{ render(controller('AppBundle:Facture:lastFactures')) }}

{% endblock %}

    {% block secondBlock %}
        <div class="row addPadding">
            <div class="col-md-12" >{{ render(controller('AppBundle:Transaction:statisticsTransaction')) }}</div>
        </div>
        <div class="clear"></div>
    {% endblock %}

{% block thirdBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 form-nom">
                    {{ form_label(form.nom) }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="col-md-3 form-prenom">
                    {{ form_label(form.prenom) }}
                    {{ form_errors(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexion">
                    {{ form_label(form.username, 'Username') }}
                    {{ form_widget(form.username, { 'attr': {'placeholder': ' Username', 'style':'width: 100%;' } }) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexion">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexion">
                    {{ form_label(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 form-nom">
                    {{ form_label(form.codepostal) }}
                    {{ form_errors(form.codepostal) }}
                    {{ form_widget(form.codepostal) }}
                </div>
                <div class="col-md-3 form-prenom">
                    {{ form_label(form.ville) }}
                    {{ form_errors(form.ville) }}
                    {{ form_widget(form.ville) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexionHide">
                    {{ form_errors(form.newsletter) }}
                    {{ form_widget(form.newsletter) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexion">
                    {{ form_label(form.current_password, 'Mot de passe actuel') }}
                    {{ form_widget(form.current_password, { 'attr': {'placeholder': ' Mot de passe', 'style':'width: 100%;' } }) }}
                    {{ form_widget(form.current_password) }}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexion">
                    <input class="buttonGC brownButton" type="submit" value="{{ 'Enregistrer les modifications'|trans }}" />
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-connexion">
                    <a href="{{ path('fos_user_change_password') }}">{{ "Modifier mot de passe"|trans }}</a>
                </div>
                <div class="col-md-3"></div>
            </div>
            {{ form_end(form) }}
        <div class="clear"></div>
        </div>
    </div>

{% endblock %}
