{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'GustoCoffee - Login'|trans }}</title>
{% endblock %}

{% block firstImg %}
    topPage topPageLogin
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Espace Client - Connexion</h1>
        <h3 class="colorWhite"> <i>Rejoignez notre communauté ! </i></h3>
    </div>
    <button class="buttonInscription greenButton">
        <a class="colorWhite" href="{{ path('fos_user_registration_register') }}">{{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
    </button>
{% endblock %}


        {#
{% block connexion %}
    <a class="page-scroll" href="{{ path(fos_user_security_logout) }}">

    </a>
{% endblock %}
#}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">Se Connecter</h2>
        </div>
        <div class="col-md-5">
            <button class="loginBtn loginBtn--facebook">
                Login with Facebook
            </button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <button class="loginBtn loginBtn--google">
                Login with Google
            </button>
        </div>
    </div>
{% endblock %}

{% block secondBlock %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="centerText">OU</h2>
        </div>
    </div>
{% endblock %}

{% block thirdBlock %}
    <div class="form-connexion">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}"></a>
            {% else %}
                <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
