{% extends 'base.html.twig' %}

{% block customCss %}
    <link href="{{ asset('build/login.scss') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>GustoCoffee Login</title>
{% endblock %}

{% block firstImg %}
    topPageLogin
{% endblock %}

{% block titleHome %}
    Connexion CoWorking
{% endblock %}


        {#
{% block connexion %}
    <a class="page-scroll" href="{{ path(fos_user_security_logout) }}">

    </a>
{% endblock %}
#}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">Se Connecter</h2>
        </div>
        <div class="col-md-5">
            <button class="loginBtn loginBtn--facebook">
                Login with Facebook
            </button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <button class="loginBtn loginBtn--google">
                Login with Google
            </button>
        </div>
    </div>
{% endblock %}

{% block secondBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">OU</h2>
        </div>
    </div>
{% endblock %}

{% block thirdBlock %}
    <div class="form-connexion">
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}"></a>
            {% else %}
                <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>


        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
