{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block firstImg %}
    style='background-image: url({{ asset('img/connexion.jpg') }});'>
{% endblock %}

{% block connexion %}
    <a class="page-scroll" href="{{ path(fos_user_security_logout) }}"></a>
{% endblock %}

{% block firstTitle %}
    <h2 class="titleHome">Inscription CoWorking</h2>
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="titlePara">Inscription Terminée</h2>
            <div class="col-md-12">
                <p class="centerText sizeFont">{{ 'registration.confirmed'|trans({'%username%': user.username})|nl2br }}</p>
                {% if targetUrl %}
                    <p class="centerText sizeFont"><a href="{{ targetUrl }}">{{ 'registration.back'|trans|nl2br }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


{% block secondBlock %}{% endblock %}

{% block thirdBlock %}{% endblock %}
