{% extends 'base.html.twig' %}

{% block title %}
    <title>GustoCoffee Réservation</title>
{% endblock %}

{% block firstImg %}
    topPage topPageReservation
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    Réservation CoWorking
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-2" id="getFixed" role="navigation">
            <div class="row">
                <div class="col-xs-12">
                    {# Choix de la date #}
                    <form id="room-search-form">
                        <div id="reservation-date-picker" class="form-group">
                            <label> {{  "Choisir votre date"|trans }} </label>
                            <input id="datepicker" type="text" name="reservation-date" value="{{ 'now'|date('d/m/Y', "Europe/Paris") }}">
                            <input type="hidden" id="datepicker-altFormat" name="begin_date" />
                        </div>
                    </form>
                </div>

                <div class="col-xs-12">
                    <button class="btn btn-block btn-primary buttonSearch">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{  "Rechercher"|trans }}
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-10 reservation-result-container">
            <div class="row">
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th-list"></span>Liste
                    </a>
                    <a href="#" id="grid" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th"></span>Grille
                    </a>
                </div>
                <div id="time-range">
                    <p>{{ 'Créneau horaire'|trans }}:<br> <span class="slider-time">9:00</span>H - <span class="slider-time2">21:00</span>H
                    </p>

                    <div id="slider-range">
                        <input class="heureActuelleDefaut" type="hidden" value="{{ 'now'|date('H:i:Y-m-d', "Europe/Paris") }}">

                    </div>
                </div>

            </div>
            <div class="row">

                {# On appelle le template salleDisponible en embed #}
                <div id="display-salle" class="row list-group">
                    {% embed ":salle:sallesDisponible.html.twig" %}

                    {% endembed %}

            </div>
        </div>
    </div>
    </div>
{% endblock %}
