


<h3>{{ "Voici les salles privés disponibles pour le "|trans ~ dateChoix ~ ' entre ' ~ heureDebutChoix ~ "H et " ~ heureFinChoix ~ "H " }}</h3>

<div id="reservation-dialog-message" title="Créneaux incorrectes" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        Les magasin est fermée changé votre date avant de continuer    </p>

</div>

{% set count = 1 %}
    {% for salle in salles %}

        {% if salle.capacitymax == 4 %}
            {% set count = count + 1 %}

            <div class="col-md-4 cardSalle">
                <div class="thumbnail">
                    <a href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}"><img class="group list-group-image" src="{{ asset('uploads/images/salles/'~ salle.image) }}" alt="Salle privatisée"></a>
                    <div class="caption">
                        <a href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}">
                        </a>
                        <h4 class="group inner list-group-item-heading centerText">
                            {{ salle.nomsalle }}
                        </h4>
                        <p class="group inner list-group-item-text centerText">
                            La {{ salle.nomsalle }} contient {{ salle.capacityMax }} places.
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="centerText">{{ "Au delà de 5h de réservation, la salle coûtera"|trans }} 20€</p>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-6 col-sm-6">
                                <a class="btn buttonInscription buttonInscriptionResponsive" href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}">{{ "Choisir"|trans }}</a>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>

        {% elseif salle.capacitymax == 6 %}
         {% set count = count + 1 %}

            <div class="col-md-4 cardSalle">
                <div class="thumbnail">
                    <a href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}"><img class="group list-group-image" src="{{ asset('uploads/images/salles/'~ salle.image) }}" alt="Salle privatisée"></a>
                    <div class="caption">
                        <a href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}">
                        </a>
                        <h4 class="group inner list-group-item-heading centerText">
                            {{ salle.nomsalle }}
                        </h4>
                        <p class="group inner list-group-item-text centerText">
                            La {{ salle.nomsalle }} contient {{ salle.capacityMax }} places.
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="centerText">{{ "Au delà de 5h de réservation, la salle coûtera"|trans }} 20€</p>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-6 col-sm-6">
                                <a class="btn buttonInscription buttonInscriptionResponsive" href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}">{{ "Choisir"|trans }}</a>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>

        {#{% elseif salle.capacitymax >= 10 %}#}
            {#{{ "Aucune salle privée n'est disponible, cliquez sur l'open-spaces pour réserver votre place"|trans }}#}
            {#<div class="col-md-3 cardReservation">#}
                {#<div class="chooseCard">#}
                    {#<a href="{{ path('salle_show', { 'idsalle': salle.idsalle }) }}">#}
                        {#<img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">#}
                        {#<span class="overlay">#}
                                        {#<span class="text">#}
                                            {#Plus d'infos#}
                                        {#</span>#}
                                    {#</span>#}
                    {#</a>#}
                    {#<div class="containerCard">#}
                        {#<h4 class="cardTitle"><strong>{{ salle.nomsalle }}</strong></h4>#}
                        {#<p>{{ salle.capacitymax }}</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {% endif %}

    {% endfor %}

