{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>

    <table>
        <tbody>
            <tr>
                <th>Nomsalle</th>
                <td>{{ salle.nomsalle }}</td>
            </tr>
            <tr>
                <th>Capacitymax</th>
                <td>{{ salle.capacitymax }}</td>
            </tr>
            <tr>
                <th>Nomplace</th>
                <td>{{ salle.nomplace }}</td>
            </tr>
            <tr>
                <th>Idsalle</th>
                <td>{{ salle.idsalle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salle_edit', { 'idsalle': salle.idsalle }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
