{% extends 'base.html.twig' %}

{% block title %}
    <title>GustoCoffee - Réservation</title>
{% endblock %}

{% block firstImg %}
    topPage topPageReservation
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Réservation de salles privées</h1>
        <h3 class="colorWhite"> <i>Planifiez vos meetings en toute sérénité !</i></h3>
    </div>
    <button class="buttonInscription greenButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
    <button class="buttonInscription greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
        {{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
    </button>
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-3"></div>
        <div class="col-md-6 centerText">
            <p>La {{ salle.nomsalle }} contient {{ salle.capacitymax }} places.</p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div id="time-range">
        <p>{{ 'Créneau horaire'|trans }}:<br> <span class="slider-time">10:00 AM</span> - <span class="slider-time2">12:00 PM</span>
        </p>
        <div class="sliders_step1">
            <div id="slider-range"></div>
        </div>
    </div>

{% endblock %}

{#    <table>
        <tbody>
            <tr>
                <th>Nomsalle</th>
                <td>{{ salle.nomsalle }}</td>
            </tr>
            <tr>
                <th>Capacitymax</th>
                <td>{{ salle.capacitymax }}</td>
            </tr>
            <tr>
                <th>Idsalle</th>
                <td>{{ salle.idsalle }}</td>
            </tr>
        </tbody>
    </table>#}
{% block secondBlock %}

    <div class="row addPading">
        {% for produit in produits %}
            <div class="col-md-4 centerText">
                {{ produit.nomproduit }}
            </div>
            <div class="col-md-4 centerText">
                {{ produit.description }}
            </div>
            <div class="col-md-4 centerText">
                {{ produit.prixproduit }}
            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>
{% endblock %}
