{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ "GustoCoffee - Édition d'une annonce"|trans }}</title>
{% endblock %}

{% block firstImg %}
    topPage topPageAnnonce
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    {{ 'GustoCoffee - Éditer une annonce'|trans }}
{% endblock %}

{% block firstBlock %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_security_logout') }}"></a>
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">{{ 'Éditez  votre annonce'|trans }}</h2>
        </div>
    </div>
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(edit_form.titre) }}
                {{ form_widget(edit_form.titre) }}
                {{ form_errors(edit_form.titre) }}
            </div>
            <div class="col-md-3"></div>
        </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ form_label(edit_form.corps) }}
            {{ form_widget(edit_form.corps) }}
            {{ form_errors(edit_form.corps) }}
        </div>
        <div class="col-md-3"></div>
    </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(edit_form.categorieAnnonce) }}
                {{ form_widget(edit_form.categorieAnnonce) }}
                {{ form_errors(edit_form.categorieAnnonce) }}
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="datecreationAnnonce" style="display: none">
                    {{ form_label(edit_form.datecreation) }}
                    {{ form_widget(edit_form.datecreation) }}
                    {{ form_errors(edit_form.datecreation) }}

                </div>
                <div class="idpersonneAnnonce" style="display: none">
                    {{ form_label(edit_form.idpersonne) }}
                    {{ form_widget(edit_form.idpersonne) }}
                    {{ form_errors(edit_form.idpersonne) }}
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <input type="submit" class="buttonEditionAnnonce centerText" value="{{ 'Éditez votre annonce'|trans }}" />
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <input type="submit" class="buttonSuppressionAnnonce centerText" align="right" value="{{ 'Supprimer votre annonce'|trans}}">
            {{ form_end(delete_form) }}
        </div>
    </div>
            <a href="{{ path('annonce_index') }}">{{ 'Retour à la liste des annonces'|trans }}</a>
    {% else %}
        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
{% endblock %}
