{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'GustoCoffee - Annonces'|trans }}</title>
{% endblock %}

{% block firstImg %}
    topPage topPageAnnonce
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Poster une annonce</h1>
        <h3 class="colorWhite"> <i>{{"Et si on travaillait ensemble ?"|trans}} </i></h3>
    </div>
    <button class="buttonInscription greenButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <button class="buttonInscription greenButton" onclick="location.href='{{ path('fos_user_registration_register') }}'">
            {{ 'Inscrivez-vous dès maintenant !'|trans }}</a>
        </button>
    {% endif %}
{% endblock %}
{# ---------- First Block - Dépôt d'annonce ---------- #}
{% block firstBlock %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}"></a>
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">{{ 'Déposez votre annonce'|trans }}</h2>
        </div>
    </div>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre) }}
                {{ form_errors(form.titre) }}
            </div>
            <div class="col-md-3"></div>
        </div>
         <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(form.corps) }}
                {{ form_widget(form.corps) }}
                {{ form_errors(form.corps) }}
            </div>
            <div class="col-md-3"></div>
         </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(form.categorieAnnonce) }}
                {{ form_widget(form.categorieAnnonce) }}
                {{ form_errors(form.categorieAnnonce) }}
            </div>
            <div class="col-md-3"></div>
        </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="checkbox" id="showPhone" name="subscribe" value="CheckboxValue">
                <label for="showPhone">{{ 'Souhaitez-vous montrer votre prénom ?' |trans }}</label>
            </div>
            <div class="col-md-3"></div>

            <div class="col-md-12">
                <div class="datecreationAnnonce" style="display: none">
                        {{ form_label(form.datecreation) }}
                        {{ form_widget(form.datecreation) }}
                        {{ form_errors(form.datecreation) }}

                    {{ form_label(form.corps) }}
                    {{ form_widget(form.corps) }}
                    {{ form_errors(form.corps) }}

                 </div>

            </div>
        </div>
    <div class="col-md-12 form-connexion">
        <input type="submit" class="buttonInscription centerText" value="{{ 'Postez votre annonce'|trans }}" />
    </div>
        {{ form_end(form) }}
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('annonce_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
    {% else %}
        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
{% endblock %}
{# ---------- End First Block - Dépôt d'annonce---------- #}

{# ---------- Second Block - Listing d'annonces ---------- #}
{% block secondBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">{{ 'Liste des Annonces'|trans }}</h2>
        </div>
    </div>

    {% for annonce in annonces %}

        <div class="col-xs-4 col-lg-4 cardSalle grid-group-item list-group-item">
        <div class="thumbnail">
            <div class="caption">
                {% if is_granted("ROLE_ADMIN") %}
                    <p class="group inner list-group-item-heading centerText">
                        <a href="{{ path('fos_user_security_logout') }}"></a>
                    </p>
                    <h4 class="group inner list-group-item-heading centerText"> <u>{{ annonce.categorieAnnonce }}</u> </h4>
                    <h4 class="group inner list-group-item-heading centerText">{{ annonce.titre }}</h4>

                    <p class="group inner list-group-item-heading centerText">{{ 'Mise en ligne le ' | trans }} {% if annonce.datecreation %}{{ annonce.datecreation|date('d-m-Y h:m') }}{% endif %}</p>
                    <h4 class="group inner list-group-item-heading">
                        {{ 'Par' | trans }} {{ annonce.idpersonne }}
                    </h4>
                    <p class="group inner list-group-item-text sizeFont">
                        {{ annonce.corps }}
                    </p>
                    <a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">{{ "Montrer l'annonce"|trans }}<br></a>
                    <a href="{{ path('annonce_edit', { 'idannonce': annonce.idannonce }) }}">{{ "Éditer l'annonce"|trans }}</a>

                {% elseif is_granted("ROLE_SUPER_ADMIN") %}
                    <p class="group inner list-group-item-heading centerText">
                        <a href="{{ path('fos_user_security_logout') }}"></a>
                    </p>
                    <h4 class="group inner list-group-item-heading centerText"> <u>{{ annonce.categorieAnnonce }}</u> </h4>
                    <h4 class="group inner list-group-item-heading centerText">{{ annonce.titre }}</h4>

                    <p class="group inner list-group-item-heading centerText">{{ 'Mise en ligne le ' | trans }} {% if annonce.datecreation %}{{ annonce.datecreation|date('d-m-Y h:m') }}{% endif %}</p>
                    <h4 class="group inner list-group-item-heading">
                        {{ 'Par' | trans }} {{ annonce.idpersonne }}
                    </h4>
                    <p class="group inner list-group-item-text sizeFont">
                        {{ annonce.corps }}
                    </p>
                    <a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">{{ "Montrer l'annonce"|trans }}<br></a>
                    <a href="{{ path('annonce_edit', { 'idannonce': annonce.idannonce }) }}">{{ "Éditer l'annonce"|trans }}</a>

                {% elseif app.user %}
                    <p class="group inner list-group-item-heading centerText">
                        <a href="{{ path('fos_user_security_logout') }}"></a>
                    </p>
                    <h4 class="group inner list-group-item-heading centerText"> <u>{{ annonce.categorieAnnonce }}</u></h4>
                    <h4 class="group inner list-group-item-heading centerText">{{ annonce.titre }}</h4>
                    <p class="group inner list-group-item-heading centerText">{{ 'Mise en ligne le ' | trans }} {% if annonce.datecreation %}{{ annonce.datecreation|date('d-m-Y h:m') }}{% endif %}</p>
                    <h4 class="group inner list-group-item-heading">
                        {{ 'Par' | trans }} {{ annonce.idpersonne }}
                    </h4>
                    <p class="group inner list-group-item-text sizeFont">
                        {{ annonce.corps }}
                    </p>
                        {% if app.user == annonce.idpersonne %}
                    <a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">{{ "Montrer l'annonce"|trans }}<br></a>
                    <a href="{{ path('annonce_edit', { 'idannonce': annonce.idannonce }) }}">{{ "Éditer l'annonce"|trans }}</a>
                        {% endif %}
                {% else %}
                    <h4 class="group inner list-group-item-heading centerText"> <u>{{ annonce.categorieAnnonce }}</u> </h4>
                    <h4 class="group inner list-group-item-heading centerText"> {{ annonce.titre }} </h4>
                    <p class="group inner list-group-item-heading centerText">{{ 'Mise en ligne le ' | trans }} {% if annonce.datecreation %}{{ annonce.datecreation|date('d-m-Y h:m') }}{% endif %}</p>
                    <h4 class="group inner list-group-item-heading">
                        {{ 'Par' | trans }} {{ annonce.idpersonne }}
                    </h4>
                    <p class="group inner list-group-item-text sizeFont">
                        {{ annonce.corps }}
                    </p>
                {% endif %}
            </div>
        </div>
        </div>

        {% endfor %}

    {#<section>
        <table class="tableAnnonceList" align="center">
            <thead>
            <tr>
                <th>{{ 'Titre'|trans }}</th>
                <th>{{ 'Corps du message'|trans }}</th>
                <th>{{ "Catégorie de l'annonce"|trans }}</th>
                <th>{{ 'Date de création'|trans }}</th>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}"></a>
                    <th>Actions</th>
                {% else %}
                    <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}"></a>
                        <td><a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">{{ annonce.titre }}</a></td>
                    {% else %}
                        <td>{{ annonce.titre }}</td>
                    {% endif %}
                    <td>{{ annonce.corps }}</td>
                    <td>{{ annonce.categorieAnnonce }}</td>
                    <td>{% if annonce.datecreation %}{{ annonce.datecreation|date('d-m-Y h:m') }}{% endif %}</td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('fos_user_security_logout') }}"></a>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">{{ "Montrer l'annonce"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('annonce_edit', { 'idannonce': annonce.idannonce }) }}">{{ "Éditer l'annonce"|trans }}</a>
                                </li>
                            </ul>
                        </td>
                    {% else %}
                        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>#}
{% endblock %}
{# ---------- End Second Block - Listing d'annonces ---------- #}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('annonce_new') }}">Create a new annonce</a>#}
        {#</li>#}
    {#</ul>#}