{% extends 'base.html.twig' %}

{% block customCss %}
    <link href="{{ asset('build/annonce.scss') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>GustoCoffee - Annonces</title>
{% endblock %}

{% block firstImg %}
    topPageAnnonce
{% endblock %}

{% block titleHome %}
    GustoCoffee - Annonces
{% endblock %}
{# ---------- First Block - Dépôt d'annonce ---------- #}
{% block firstBlock %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_logout') }}"></a>
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">Déposez votre annonce</h2>
        </div>
    </div>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre) }}
                {{ form_errors(form.titre) }}
            </div>
            <div class="col-md-3"></div>
        </div>
    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {{ form_label(form.corps) }}
                {{ form_widget(form.corps) }}
                {{ form_errors(form.corps) }}
            </div>
            <div class="col-md-3"></div>
    </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="checkbox" id="showPhone" name="subscribe" value="CheckboxValue">
                <label for="showPhone">Souhaitez-vous montrer votre prénom ?</label>
            </div>
            <div class="col-md-3"></div>

            <div class="col-md-12">
                <div class="datecreationAnnonce" style="display: none">
                        {{ form_label(form.datecreation) }}
                        {{ form_widget(form.datecreation) }}
                        {{ form_errors(form.datecreation) }}

                    {{ form_label(form.corps) }}
                    {{ form_widget(form.corps) }}
                    {{ form_errors(form.corps) }}

                 </div>
                 <div class="idpersonneAnnonce" style="display: none">
                    {{ form_label(form.idpersonne) }}
                    {{ form_widget(form.idpersonne) }}
                    {{ form_errors(form.idpersonne) }}
                </div>
            </div>
        </div>
    <div class="col-md-12 form-connexion">
        <input type="submit" class="buttonInscription centerText" value="Postez votre annonce" />
    </div>
        {{ form_end(form) }}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('annonce_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}
    {% else %}
        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
{% endblock %}
{# ---------- End First Block - Dépôt d'annonce---------- #}

{# ---------- Second Block - Listing d'annonces ---------- #}
{% block secondBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="centerText">Liste des Annonces</h2>
        </div>
    </div>
    <section>
        <table class="tableAnnonceList" align="center">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Corps du message</th>
                    <th>Date de création</th>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}"></a>
                    <th>Actions</th>
                    {% else %}
                        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}"></a>
                    <td><a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">{{ annonce.titre }}</a></td>
                    {% else %}
                        <td>{{ annonce.titre }}</td>
                    {% endif %}
                    <td>{{ annonce.corps }}</td>
                    <td>{% if annonce.datecreation %}{{ annonce.datecreation|date('d-m-Y h:m') }}{% endif %}</td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}"></a>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('annonce_show', { 'idannonce': annonce.idannonce }) }}">Montrer l'annonce</a>
                            </li>
                            <li>
                                <a href="{{ path('annonce_edit', { 'idannonce': annonce.idannonce }) }}">Éditer l'annonce</a>
                            </li>
                        </ul>
                    </td>
                    {% else %}
                        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
{# ---------- End Second Block - Listing d'annonces ---------- #}
