{% extends 'base.html.twig' %}

{% block title %}
    {{ 'GustoCoffee - Voir une annonce'|trans }}
{% endblock %}

{% block firstImg %}
    topPage topPageAnnonce
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    <div class="banniere">
        <h1 class="colorWhite">Voir une annonce</h1>
        <h3 class="colorWhite"> <i>{{"Et si on travaillait ensemble ?"|trans}} </i></h3>
    </div>
    <button class="buttonGC blueButton" onclick="location.href='{{ path('gc_reservation_page') }}'">
        {{ 'Réservez votre place'|trans }}
    </button>
{% endblock %}

{% block firstBlock %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<a href="{{ path('fos_user_security_logout') }}"></a>
<div class="row addPadding">
    <div class="col-md-12">
        <h2 class="centerText">{{ 'Voici votre annonce'|trans }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
            <tbody>
              <tr>
                   <th>{{ 'Titre'|trans }}</th>
                 <td>{{ annonce.titre }}</td>
              </tr>
             <tr>
                    <th>{{ 'Corps' |trans }}</th>
                    <td>{{ annonce.corps }}</td>
             </tr>
              <tr>
                  <th>{{ "Catégorie de l'annonce" |trans }}</th>
                  <td>{{ annonce.categorieAnnonce }}</td>
              </tr>
              <tr>
                  <th>{{ "IDPERSONNE" |trans }}</th>
                  <td>{{ annonce.idpersonne }}</td>
              </tr>
            <tr>
                <th>{{ 'Date de création'|trans }}</th>
                <td>{% if annonce.datecreation %}{{ annonce.datecreation|date('Y-m-d') }}{% endif %}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {{ form_start(delete_form) }}
        <input type="submit" class="buttonSuppressionAnnonce centerText" align="right" value="{{ 'Supprimer votre annonce'|trans }}">
        {{ form_end(delete_form) }}
        <a href="{{ path('annonce_edit', { 'idannonce': annonce.idannonce }) }}">{{ 'Éditez votre annonce'|trans }}</a><br>
        <a href="{{ path('annonce_index') }}">{{ 'Retour à la liste des annonces'|trans }}</a>
    </div>
</div>
    {% else %}
        <a style="display: none;" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
{% endblock %}