{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lignefactures list</h1>

    <table>
        <thead>
            <tr>
                <th>Idlignefacture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligneFacture in ligneFactures %}
            <tr>
                <td><a href="{{ path('lignefacture_show', { 'idlignefacture': ligneFacture.idlignefacture }) }}">{{ ligneFacture.idlignefacture }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lignefacture_show', { 'idlignefacture': ligneFacture.idlignefacture }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lignefacture_edit', { 'idlignefacture': ligneFacture.idlignefacture }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lignefacture_new') }}">Create a new ligneFacture</a>
        </li>
    </ul>
{% endblock %}
