{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lignefacture</h1>

    <table>
        <tbody>
            <tr>
                <th>Idlignefacture</th>
                <td>{{ ligneFacture.idlignefacture }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lignefacture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lignefacture_edit', { 'idlignefacture': ligneFacture.idlignefacture }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
