{% extends 'base.html.twig' %}

{% block customCss %}
    <link href="{{ asset('build/reservation.css') }}" rel="stylesheet">
{% endblock %}

{% block firstImg %}
<div class="row topPage topPageReservation">
{% endblock %}

{% block firstTitle %}
    <h2 class="titleHome">{{ 'Réservation CoWorking'|trans }}</h2>

{% block titleHome %}
    Réservation CoWorking
{% endblock %}

{% block firstBlock %}
    <div class="row customPadding">
        <div class="col-md-12 ">
            <h2 class="titleReservation">{{ 'Réservez votre place'|trans }}</h2>
            <div class="clearText"></div>

            <p class="textReservation textDescription"><strong>{% trans %}Ne payez que le temps passé et consommez à volonté chez GustoCoffee.</strong>
                Demandez, en complément, à avoir un petit déjeuner, déjeuner ou encore à dîner si vous le souhaitez.{% endtrans %}<br>
            </p>
            <div class="clearText"></div>
        </div>
        <div class="col-md-6">
            <div class="slider">
                <div class="status">
                    <h3> C'est Ouvert ! </h3>
                </div>
                <div class="shop-name centerText">
                    <h2> GustoCoffee </h2>
                </div>
                <div class="shop-address centerText">
                    <p>17 Rue Dunkerque, 75010 Paris</p>
                </div>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.88053681877!2d2.353911115805676!3d48.87955387928948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e6dbddc4fe1%3A0xcc08be2d420511b!2s17+Rue+de+Dunkerque%2C+75010+Paris!5e0!3m2!1sfr!2sfr!4v1505123389379" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tablePrice">
                <table>
                    <thead>
                    <tr class="firstLine">
                        <th class="lineRow"> {{ 'Nos services'|trans }} </th>
                        <th class="tablePriceSecondRow lineRow"> {{ 'Prix / personne'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="lineRow"> {{ 'Première heure'|trans }} </td>
                        <td class="tablePriceSecondRow lineRow"> 5€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> {{ '1/2 heure supplémentaire'|trans }} </td>
                        <td class="tablePriceSecondRow lineRow"> 2€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> {{ 'Troisième heure'|trans }} </td>
                        <td class="tablePriceSecondRow lineRow"> {{ 'Offerte après 2 heures consécutives'|trans }}</td>
                    </tr>
                    <tr>
                        <td class="lineRow"> {{ 'Forfait Journée'|trans }} </td>
                        <td class="tablePriceSecondRow lineRow"> 20€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> {{ 'Services bureautique'|trans }} </td>
                        <td class="tablePriceSecondRow lineRow"> 10€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> {{ 'Forfait "Petit Déjeuner, Déjeuner & Dîner"'|trans }} </td>
                        <td class="tablePriceSecondRow lineRow"> 15€ </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="clearText"></div>
            <p class="textReservation textDescription">
                {% trans %}
            </p>
        </div>
    </div>
{% endblock %}

{% block secondBlock %}
    <div class="row addPadding">
        <h2 class="col-md-12 placeQuestion">{{ 'Quelle place souhaitez-vous avoir au sein de GustoCoffee ?'|trans }}</h2>
        <div class="clear"></div>
        <div class="col-md-5 cardReservation">
            <div class="card placeIndividuelle">
                <img src="{{ asset('place/individuelPlace.jpg') }}" alt="Place individuelle" style="width:100%">
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>{{ 'Place individuelle'|trans }}</strong></h4>
                    <p>{{ 'Choisir une place'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 cardReservation">
            <div class="card">
                <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>{{ 'Salle privatisée'|trans }}</strong></h4>
                    <p>{{ 'Choisir une salle'|trans }}</p>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    {% endblock %}
