{% extends 'base.html.twig' %}

{% block customCss %}
    <link href="{{ asset('build/reservation-private-salle.scss') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>GustoCoffee Réservation</title>
{% endblock %}

{% block firstImg %}
    topPageReservation
{% endblock %}

{% block titleHome %}
    Réservation CoWorking
{% endblock %}

{% block firstBlock %}
<p>OKK</p>
{% endblock %}

{% block secondBlock %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
