{% extends 'base.html.twig' %}

{% block customCss %}
    <link href="{{ asset('build/reservation-private.css') }}" rel="stylesheet">
{% endblock %}

{% block firstImg %}
    topPageReservation
{% endblock %}

{% block titleHome %}
    Réservation CoWorking
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-4 cardReservation">
            <div class="card">
                <a href="{{ path('gc_private_page') }}">
                    <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                </a>
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Salle privatisée</strong></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 cardReservation">
            <div class="card">
                <a href="{{ path('gc_private_page') }}">
                    <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                </a>
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Salle privatisée</strong></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 cardReservation">
            <div class="card">
                <a href="{{ path('gc_private_page') }}">
                    <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                </a>
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Salle privatisée</strong></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 cardReservation">
            <div class="card">
                <a href="{{ path('gc_private_page') }}">
                    <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                </a>
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Salle privatisée</strong></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 cardReservation">
            <div class="card">
                <a href="{{ path('gc_private_page') }}">
                    <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                </a>
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Salle privatisée</strong></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

